{{#if variable}}
  <button type="button" class="ui basic button" {{action "alternar"}}>{{yield}}</button>
{{else}}
  <button type="button" class="ui basic button active" {{action "alternar"}}>{{yield}}</button>
{{/if}}
