{{yield}}

{{#if variable}}
  <button type="button" class="ui basic button" {{action "alternar"}}>{{pilas-icono imagen=icono}}</button>
{{else}}
  <button type="button" class="ui basic button active" {{action "alternar"}}>{{pilas-icono imagen=icono}}</button>
{{/if}}
