{{yield}}

  <h4>Actores disponibles</h4>

  <button {{action (action agregarUnActor "ember")}}>Ember</button>
  <button {{action (action agregarUnActor "logo")}}>Logo</button>
  <button {{action (action agregarUnActor "pelota")}}>Pelota</button>
  <button {{action (action agregarUnActor "sin_imagen")}}>Sin Imagen</button>
