<button id='boton-eliminar-{{tipo}}' class='bg-transparent no-outline p0 f7 o-50 pointer glow bn pa0' {{action "mostrar" bubbles=false}}>{{pilas-icono icono="borrar"}}{{yield}}</button>

{{#pilas-modal alCerrar=(action "ocultar") visible=modalVisible id=idDialogo titulo="Cuidado" reducido=true}}

  <div>
    {{titulo}}
  </div>

  <div class="tc">
    {{pilas-boton accion=(action "ocultarEjecutandoAccion") texto="Si"}}
    {{pilas-boton accion=(action "ocultar") texto="No"}}
  </div>

{{/pilas-modal}}
