{{yield}}

<h2>¿Cómo usar esta sección?</h2>

<p>Esta es una sección experimental, donde buscamos integrar pilas con arduino. Para comenzar, conectá tu plaqueta arduino con un led en el pin 13 así:</p>

<p><div class="sprite plaqueta_arduino"></div></p>

<p>Una vez que conectes la placa, vas a ver información sobre la misma a continuación:</p>

<p>
  {{#if conectado}}
    Conectado

    {{#if mostrarErrorDeReConexion}}
      (¡Cuidado, deberías reiniciar pilas, porque no soporta re-conexión del dispositivo!)
    {{/if}}

  {{else}}
    Esperando que se conecte el arduino
  {{/if}}
</p>

<p>
  Dispositivos:

  <ul>
    {{#each dispositivos as |d|}}
      <li>
        <li>{{d.comName}} {{#if d.esArduino}}(¡Es un arduino!){{/if}}</li>
      </li>
    {{/each}}
  </ul>
</p>

<p>
  Acciones:
</p>


<div>
  <button {{action "prenderLed"}} class="ui {{if conectado "" "disabled"}} basic primary button">Encender led 13</button>
  <button {{action "apagarLed"}} class="ui {{if conectado "" "disabled"}} basic red button">Apagar led 13</button>
</div>
