<div class="vh-100 wrapper verdana bg-white flex flex-column">

  <div class="h3">

    <div class="dt dt--fixed unselectable">

      <div class="dtc pa2">
        {{pilas-boton-regresar}}
        {{pilas-boton accion=(action cuandoIntentaGuardar proyecto) texto="Guardar"}}
      </div>

      <div class="dtc tr">
        <div class="dib mr2">
          {{pilas-interruptor variable=mostrarPropiedades texto="Panel de actores"}}
          {{pilas-interruptor variable=mostrarEditor texto="Panel del editor"}}
        </div>
      </div>
    </div>

  </div>

  <section class="flex1 flex bt b--silver">
    <div class="columns">

      <div class="w5 {{if mostrarPropiedades 'flex flex-column' 'dn'}} br b--light-silver pa2 ">

        <div class='unselectable'>
          {{pilas-boton accion=(action "agregarEscena" proyecto) texto="+ Escena"}}
          {{pilas-crear-actor cuandoQuiereCrearActor=(action "agregarActor" proyecto) modalVisible=mostrarModalCreacionDeActor}}
        </div>

        {{pilas-panel-de-escenas
            escenas=proyecto.escenas
            escenaActual=escenaActual
            actorSeleccionado=actorSeleccionado
            cuandoSeleccionaEscena=(action "definirEscena")
            cuandoSeleccionaActor=(action "seleccionarActor")
          }}

        {{pilas-inspector
          instanciaActorSeleccionado=instanciaActorSeleccionado
        }}

      </div>

      <div class="flex flex1 flex-column w-30 bg-white ml2 mr2 pa2">

        <!-- Canvas -->

                <div class='mb2'>
                  {{#if estado.puedeEjecutar}}
                    {{pilas-boton id='ejecutar' accion=(action "ejecutar") texto="Ejecutar" icono="ejecutar"}}
                  {{/if}}

                  {{#if estado.puedeDetener}}
                    {{pilas-boton id='detener' accion=(action "detener") texto="Detener" icono="detener"}}
                  {{/if}}

                  {{#if estado.puedePausar}}
                    {{pilas-boton id='pausar' accion=(action "pausar") texto="Pausar" icono="pausa"}}
                  {{/if}}

                  {{#if estado.pausaActivada}}
                    <div class="dib pa2 f6 fr">
                      <input class="v-btm" type="range"
                        min={{historiaMinimo}}
                        max={{historiaMaximo}}
                        oninput={{action "cambiarPosicion" value="target.value"}}
                        value={{historiaPosicion}}>
                    </div>

                  {{/if}}

                  {{#if estado.ModoCargando}}
                    {{pilas-skeleton ancho=80 alto=30}}
                  {{/if}}
                </div>

                {{pilas-phaser-experimental
                  ancho=proyecto.ancho
                  alto=proyecto.alto
                  mantenerFoco=estado.mantenerFoco
                  cuandoPulsaEscapeEnModoEjecucion=(action "detener")
                }}

                <div class="h2 ba br b--gray bg-light-gray">
                  {{pilas-interruptor texto="Intérprete" variable=mostrarInterprete}}
                </div>

                <div class="h4 pa2 bl br bb b--gray {{if mostrarInterprete '' 'dn'}}">
                  {{#each log.items as |item|}}
                    <div class="f6 {{if (eq item.tipo 'error') 'red'}}">{{item.tipo}} - {{item.mensaje}}

                        <div class="pl3 truncate w4">
                          {{item.detalle}}
                        </div>

                    </div>
                  {{else}}
                  {{/each}}
                </div>

      </div>

      <div class="flex1 {{if mostrarEditor 'flex flex-column' 'dn'}} bl b--light-silver">

        {{monaco-editor titulo=tituloDelCodigo code=codigo
            cuandoCarga=(action "cuandoCargaMonacoEditor")
            onSave=(action "cuandoGuardaDesdeElEditor")
            onChange=(action "cuandoCambiaElCodigo")}}

      </div>

    </div>
  </section>

  <footer class="h2 tr bt b--light-silver"></footer>

</div>
