{{yield}}

<div class="ma2">

<p class="lato">Lista de ejemplos</p>

{{#if ejemplos.tarea.last.isRunning}}
  <p class='lato'>Cargando ...</p>
{{else}}
  {{#each ejemplos.tarea.last.value.ejemplos as |ejemplo|}}
    {{#link-to "ejemplos.ver" ejemplo.nombre tagName='div' class="dib pointer"}}
    <div class="relative w4 h4 unselectable">
      <img class="w-100 h-100" src="{{rootURL}}ejemplos/imagenes/{{ejemplo.nombre}}.png" alt="">
      <p class="absolute bottom-0 left-0 right-0 white tc lato f7  ">{{ejemplo.nombre}}</p>
    </div>
    {{/link-to}}
  {{/each}}
{{/if}}

</div>
