{{pilas-boton extraClass="test-regresar" icono="volver" accion=(action "regresar") texto=""}}

{{#if mostrar}}

  {{#pilas-modal reducido=true alCerrar=(action "ocultar") visible=true id="dialogo_confirmar" titulo="¿Quieres salir sin guardar?"}}
    <div class="f6">
      <p>{{t "exit.title"}}</p>
      <p>{{t "exit.question"}}</p>

      <div class="tr pt2">
        {{pilas-boton accion=(action "confirmar_regreso") texto=(t "exit.confirm")}}
        {{pilas-boton accion=(action "ocultar") texto=(t "exit.cancel")}}
      </div>

    </div>
  {{/pilas-modal}}

{{/if}}
