{{#if comoCelda}}
  <div role="button" 
    {{action "mostrar" bubbles=false}}
    class="pa2 texto pointer hover-bg-black-10 f7 truncate"
    id="boton-eliminar-{{tipo}}"> 
    {{pilas-icono icono="borrar"}} {{t "delete"}}
  </div>
{{else}}
  <button 
    class="bg-transparent no-outline p0 f7 o-50 pointer glow bn pa0" 
    {{action "mostrar" bubbles=false}}
    id="boton-eliminar-{{tipo}}">
    {{pilas-icono icono="borrar"}}{{yield}}
  </button>
{{/if}}

{{#if modalVisible}}
  <div role="button" class="fixed z-1 absolute--fill" {{action "ocultar"}}></div>

  <div class="absolute bg-fondo ba borde shadow-4 top-3 pt2 pb3 pa2 f7 z-999 ml3 w5">

    <div class="texto f6 lh-copy pb2 tc">
      {{titulo}}
    </div>

    {{#if contador}}
      <div class="orange pb3 tc">
        {{t "no.undo"}}
      </div>
    {{/if}}

    
    <div class="tc">
      {{pilas-boton extraClass="boton-confirmacion" desactivado=tiempo 
        icono="si" accion=(action "ocultarEjecutandoAccion") 
        texto=texto_del_boton 
        atajo="Enter"}}

      {{pilas-boton extraClass="boton-confirmacion" 
        icono="no" accion=(action "ocultar") 
        texto=(t "no")
        atajo="Escape"}}
    </div>

  </div>
{{/if}}
