<div data-test={{dataTest}} class="dib pointer o-50 hover-o-100" role="button" {{action "alternar"}}>
  {{#if variable}}
    {{pilas-icono icono="panel-abierto"}}
  {{else}}
    {{pilas-icono icono="panel-cerrado"}}
  {{/if}}
</div>
