<ul id="pilas-panel-de-escenas" class="verdana f6 unselectable pa0 flex1 overflow-y-auto ba borde mt2 mb2 {{if desactivado "o-40 disabled"}}">

  <li role="button" class="pointer texto truncate pa2 {{if (eq seleccion 0) "bg-black-20" "hover-bg-black-10"}}" {{action cuandoSelecciona "proyecto"}}>
    ◆ {{t "panel.project"}}
  </li>

  {{#each escenas as |escena|}}

    {{pilas-panel-de-escenas/item-escena
      cuandoSelecciona=cuandoSelecciona
      ultimaEscenaSeleccionada=ultimaEscenaSeleccionada
      escena=escena
      seleccion=seleccion
      cuando_intenta_eliminar=cuando_intenta_eliminar
    }}


    {{#if (eq ultimaEscenaSeleccionada escena.id)}}

      {{pilas-panel-de-escenas/contenido-de-la-escena
        escena=escena

        seleccion=seleccion
        cuandoSelecciona=cuandoSelecciona
        escenas=escenas
        ultimaEscenaSeleccionada=ultimaEscenaSeleccionada

        cuando_intenta_mover_a_escena_nueva=cuando_intenta_mover_a_escena_nueva
        cuando_intenta_mover_a_una_escena=cuando_intenta_mover_a_una_escena
      }}

    {{/if}}

  {{else}}
    <div class="orange texto ph3 pt2">{{t "panel.no.scenes"}}</div>
  {{/each}}
</ul>
