{{yield}}

{{#if recursos.tarea.isRunning}}
  Cargando ...
{{else}}

  <div class="tl mb2">
    {{pilas-input-filtro filtro=filtro}}
  </div>

  {{#if (not proyecto.canvas_disponible)}}
    {{pilas-esperar}}
  {{/if}}

  <div class="texto pv2">
    Imágenes personalizadas:
  </div>

  <div>
    {{ui/importar-imagen cuando_procesa_archivos=(action "incorporar_imagenes_al_proyecto")}}

    <div class="pt2">
      {{#each proyecto.proyecto.imagenes as |imagen|}}

        {{pilas-celda-de-imagen
            imagen=imagen
            filtro=filtro
            cuando_selecciona=cuando_selecciona}}

      {{/each}}
    </div>
  </div>

  <div class="texto pv2">
    Imágenes incluídas en pilas:
  </div>


  <div class="">

    {{#if cargando}}
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top o-90"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top o-70"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top o-50"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top o-30"></div>
      <div class="dib bg-skeleton w3 h3 mt1 v-top o-10"></div>
    {{else}}
      {{#each recursos.tarea.lastSuccessful.value.imagenesParaGrilla as |imagen|}}

        {{pilas-celda-de-imagen
            imagen=imagen
            filtro=filtro
            cuando_selecciona=cuando_selecciona}}

      {{/each}}
    {{/if}}
  </div>

{{/if}}
