<button id="boton-eliminar-{{tipo}}" class="bg-transparent no-outline p0 f7 o-50 pointer glow bn pa0" {{action "mostrar" bubbles=false}}>{{pilas-icono icono="borrar"}}{{yield}}</button>

{{#pilas-modal alCerrar=(action "ocultar") visible=modalVisible id=idDialogo titulo="Cuidado" reducido=true}}

  <div class="flex1 verdana f6">
    {{titulo}}
  </div>

  <div class="tc">
    {{pilas-boton icono="si" accion=(action "ocultarEjecutandoAccion") texto="Sí" atajo="Enter"}}
    {{pilas-boton icono="no" accion=(action "ocultar") texto="No" atajo="Escape"}}
  </div>

{{/pilas-modal}}
