{{#if visible}}

  <div class="flex absolute absolute--fill default-cursor" id={{id}}>

    <div {{action "ocultar"}} role="button" class="bg-black-50 z-1 animacion-aparecer absolute absolute--fill"></div>

    <div class="flex texto flex-column flex-auto ma5 bg-fondo z-2 {{if reducido "h4-5 margin-left-auto margin-right-auto mw6"}}">

      <div class="flex">
        <h1 class="f4 pl2 flex1" id="titulo">{{titulo}}</h1>

        <button class="pointer ma3 bn bg-fondo texto" {{action "ocultar"}} id="cerrar">
          ×
        </button>
      </div>

      <div class="flex1 pa2 overflow-auto flex flex-column">
        {{yield}}
      </div>

    </div>

  </div>

{{/if}}
