<div class="h4 menlo ba borde bg-fondo-editor {{if mostrar "flex flex-column" "dn"}}">

  {{pilas-contenido-de-log estilo=estilo log=log}}

  <div class="w-100 flex flex-row bt borde">
    <div style={{estilo}} class="dib white pa1 unselectable flex items-center pl2">
      ›
    </div>

    <div style={{estilo}} class={{if habilitado "flex1 flex" "dn"}}>
      {{input
        id="input"
        keyDown=(action "pulsaTecla")
        value=valor
        spellcheck=false
        class="menlo pa1 bn no-outline white bg-fondo-editor flex1"
        enter=(action "cuandoPulsaEnter")
      }}
    </div>

    {{#unless habilitado}}
      <input style={{estilo}} spellcheck="false" 
        placeholder={{t "interpreter.help"}} 
        disabled="disabled" 
        class="flex1 menlo pa1 bn no-outline white bg-fondo-editor">
    {{/unless}}

  </div>

</div>
