{{yield}}

{{#if ejemplos.tarea.last.isRunning}}
  {{#each (range 0 7)}}
    <div class="dib">
      <div class="relative bg-light-gray ml1 mt1" style="width: 180px; height: 140px;"></div>
    </div>
  {{/each}}
{{else}}
  {{#each ejemplos.tarea.last.value.ejemplos as |ejemplo|}}
    {{#link-to "ejemplos.ver" ejemplo.nombre tagName="div" class="dib pointer"}}
      <div class="relative unselectable ma1">
        <img width="180" height="140" src="{{rootURL}}ejemplos/imagenes/{{ejemplo.nombre}}.png" alt="">
        <div class="text-shadow-1 absolute bottom-1 left-0 right-0 white tc lato f7">{{ejemplo.nombre}}</div>
      </div>
    {{/link-to}}
  {{/each}}

{{/if}}
