<ul class="verdana f6 unselectable pa0 flex1 overflow-y-auto ba b--silver mt2 mb2 {{if desactivado 'o-40 disabled'}}">
  {{#each escenas as |escena|}}
    <li class="pointer truncate pa1 {{if (eq ultimaEscenaSeleccionada escena.id) "bg-black-20" "hover-bg-black-10"}}" {{action cuandoSelecciona escena.id}}>

        {{# if (eq escenaActual escena.id)}}
          ▾
        {{else}}
          ▸
        {{/if}}

        <span data-test='nombre-de-escena'>{{escena.nombre}}</span>

        {{#if (eq ultimaEscenaSeleccionada escena.id)}}
          {{pilas-boton-eliminar-con-confirmacion tipo="escena" titulo="¿Realmente quieres eliminar la escena?" accion=(action cuando_intenta_eliminar escena.id)}}
        {{/if}}

      </li>

      {{#if (eq ultimaEscenaSeleccionada escena.id)}}
        <ul>
          {{#each escena.actores as |actor|}}
            <li class="truncate pa1 pointer {{if (eq seleccion actor.id) "bg-black-20" "hover-bg-black-10"}}" {{action cuandoSelecciona actor.id}}> {{actor.tipo}} {{!actor.nombre}}

        {{#if (eq seleccion actor.id)}}
          {{pilas-boton-eliminar-con-confirmacion tipo="actor" titulo="¿Realmente quieres eliminar este actor?" accion=(action cuando_intenta_eliminar actor.id)}}
        {{/if}}



            </li>
          {{else}}
            <li class='truncate pa1'>sin actores</li >
          {{/each}}
        </ul>
      {{/if}}

  {{else}}
    sin escenas
  {{/each}}
</ul>
