{{yield}}

{{#en-electron}}
  <div id="enjambre" role="button" {{action "abrir"}} class="v-mid dim sprite {{imagen}} undraggable {{if animar "animacion-aparecer"}} pointer"></div>
{{else}}
  <a href="http://enjambrebit.com.ar" role="button" rel="noopener" target="_blank"><div class="sprite {{imagen}} {{if animar "animacion-aparecer"}}"></div></a>
{{/en-electron}}
