<div class="{{if maximizar "dn"}} {{claseDelPanelColapsado}} bl borde pl2 pa2">
  {{pilas-boton-para-colapsar-panel dataTest="boton-abrir-panel-de-codigo" variable=mostrarEditor}}
  <div class="relative pointer" {{action "alternar" "mostrarEditor"}} role="button">
    <div class="absolute unselectable rotate-270 f7 texto pl2 texto-vertical-del-panel-editor">
      CÓDIGO
    </div>
  </div>
</div>

<div id="panel-editor" class="{{claseDelPanel}} bg-fondo {{if maximizar "panel-maximizado"}} bl borde pl2">

  <div class="texto flex">
    {{#if maximizar}}
      <div class="flex1"></div>
    {{else}}
      <div class="flex items-center">
        {{pilas-boton-para-colapsar-panel variable=mostrarEditor}}

        <div class="f7 unselectable texto pl2 dib" {{action "alternar" "mostrarEditor"}} role="button">
          CÓDIGO
        </div>
      </div>

      <div class="flex1"></div>
    {{/if}}

    <div class="pt2 pr2">
      {{#if maximizar}}
        {{#pilas-boton-miniatura-pulsable accion=cuandoGuardaDesdeElEditor}}Guardar y ejecutar <span class="atajo">CTRL+S</span>{{/pilas-boton-miniatura-pulsable}}
      {{/if}}
    </div>

    <div class="pt2 pr2">
      {{pilas-boton-configuracion-del-editor modoVim=modoVim tamano=tamano}}
      {{pilas-boton-miniatura desactivado=(not estado.puede_editar) icono="maximizar" pulsado=maximizar alCambiarMaximizado=(action "alCambiarMaximizado")}}
    </div>

  </div>

  <div class="unselectable pr2 pb2 flex bg-fondo">
    <div class="relative">
      {{pilas-editor/boton-receta desactivado=(not estado.puede_editar) tipo_de_la_instancia_seleccionada=tipo_de_la_instancia_seleccionada}}
    </div>

    <div class="flex1">
    </div>
  </div>

  {{monaco-editor
      titulo=titulo_del_codigo
      code=codigo
      oscuro=oscuro
      desactivado=(not estado.puede_editar)
      modoVim=modoVim
      tamano=tamano
      cuandoCarga=cuando_termino_de_cargar_monaco_editor
      onSave=cuandoGuardaDesdeElEditor
      onChange=cuando_cambia_el_codigo
    }}
</div>
