{{yield}}

<div class="tc mt4 lato gray">
  <div class="dib w1">
  </div>

  {{#if enDesarrollo}}
    versión en desarrollo
    <br>
    <a class="f7 link gray" href="https://github.com/pilas-engine/pilas-engine/commits/master" target="_blank" rel="noopener">{{version}} (más información)</a>
  {{else}}
    {{version_simplificada}}
  {{/if}}

  <div class="w1 dib pt1">

    {{#if consultando}}
      {{#pilas-tooltip class="w4" texto="Buscando versiones nuevas ..."}}
        {{pilas-spinner}}
      {{/pilas-tooltip}}
    {{else}}
      {{#if actualizada}}
        {{#pilas-tooltip class="w4" texto="Tienes la versión más nueva de pilas."}}
          {{pilas-mini-icono icono="actualizada"}}
        {{/pilas-tooltip}}
      {{else}}
        {{#pilas-tooltip class="right-1 w4" texto="Hay una versión nueva para descargar desde www.pilas-enginee.com.ar."}}
          <div class="red dib">
            {{pilas-mini-icono icono="desactualizada"}}
          </div>
        {{/pilas-tooltip}}
      {{/if}}
    {{/if}}
  </div>
</div>
