<div class="vh-100 wrapper verdana bg-white flex flex-column">

  <div class="h2-5 flex">

      <div class="pa2">
        {{pilas-boton-regresar}}
        {{pilas-boton desactivado=cargando accion=(action cuandoIntentaGuardar proyecto) texto="Guardar"}}

        {{pilas-boton-preferencias permitir_modo_pausa=permitir_modo_pausa desactivado=(not estado.puedeEjecutar)}}
      </div>

      <div class="flex1">
      </div>

      <div class="pa2">

        {{pilas-interruptor variable=mostrarPropiedades texto="Panel de actores"}}
        {{pilas-interruptor variable=mostrarEditor texto="Panel del editor"}}
      </div>

  </div>

  <section class="flex1 flex bt b--silver">
    <div class="columns">

      <div class="w5 {{if mostrarPropiedades 'flex flex-column' 'dn'}} br b--light-silver pa2 ">

        <div class='unselectable'>
          {{pilas-boton desactivado=(not estado.puede_editar) accion=(action "agregarEscena" proyecto) texto="+ Escena"}}
          {{pilas-crear-actor desactivado=(not estado.puede_editar) cuandoQuiereCrearActor=(action "agregar_actor" proyecto) modalVisible=mostrarModalCreacionDeActor}}
        </div>

        {{pilas-panel-de-escenas
            escenas=proyecto.escenas
            escenaActual=escenaActual

            seleccion=seleccion
            cuandoSelecciona=(action "cuandoSelecciona")
            cuando_intenta_eliminar=(action "cuando_intenta_eliminar")
            ultimaEscenaSeleccionada=ultimaEscenaSeleccionada
            desactivado=(not estado.puede_editar)

            actorSeleccionado=actorSeleccionado
          }}

        {{pilas-inspector
          instancia_seleccionada=instancia_seleccionada
          tipo_de_la_instancia_seleccionada=tipo_de_la_instancia_seleccionada

          cuandoModificaObjeto=(action "cuandoModificaObjeto")
          cuando_modifica_escena=(action "cuando_modifica_escena")
          desactivado=(not estado.puede_editar)
        }}

      </div>

      <div class="flex flex1 flex-column w-30 bg-white pa2">

        <!-- Canvas -->

                <div class='mb2 flex'>
                  {{#if estado.puedeEjecutar}}
                    {{pilas-boton id='ejecutar' accion=(action "ejecutar") texto="Ejecutar" icono="ejecutar"}}
                  {{/if}}

                  {{#if estado.puedeDetener}}
                    {{pilas-boton id='detener' accion=(action "detener") texto="Detener" icono="detener"}}
                  {{/if}}

                  {{#if permitir_modo_pausa}}
                    {{#if estado.puedePausar}}
                      {{pilas-boton id='pausar' extraClass="ml2" accion=(action "pausar") texto="Pausar" icono="pausa"}}
                    {{/if}}

                    {{#if estado.pausaActivada}}
                      <div class="dib ma2 f6 fr flex1 flex">

                        <div class='truncate w5 f7 unselectable tr pt1 pr1'>
                          Cuadro: {{plus posicion}} / {{tiempo (plus posicion)}}
                        </div>

                        <input class="v-btm" type="range"
                          id='posicion'
                          min={{historiaMinimo}}
                          max={{historiaMaximo}}
                          oninput={{action "cambiarPosicion" value="target.value"}}
                          value={{historiaPosicion}}
                          class='w-100'>

                      </div>

                    {{/if}}
                  {{/if}}

                  {{#if estado.ModoCargando}}
                    {{pilas-skeleton ancho=80 alto=30}}
                  {{/if}}
                </div>

                {{pilas-canvas
                  ancho=proyecto.ancho
                  alto=proyecto.alto
                  mantenerFoco=estado.mantenerFoco
                  cuandoPulsaEscapeEnModoEjecucion=(action "detener")
                  pos=pos
                  fps=fps
                  fisica=fisica
                }}

                <div class="h2 ba br b--gray bg-light-gray mt2">
                  {{pilas-interruptor texto="Intérprete" rojo=existe_un_error_reciente variable=mostrarInterprete}}

                  <div class="fr {{if estado.puedeEjecutar '' 'o-60 disabled'}}">
                    {{pilas-interruptor texto="fisica" variable=fisica}}
                    {{pilas-interruptor texto="fps" variable=fps}}
                    {{pilas-interruptor texto="pos" variable=pos}}
                  </div>

                </div>

                {{pilas-interprete log=log mostrar=mostrarInterprete habilitado=estado.puede_usar_el_interprete}}

      </div>

      <div class="flex1 {{if mostrarEditor 'flex flex-column' 'dn'}} bl b--light-silver">

        {{monaco-editor
            titulo=tituloDelCodigo
            code=codigo
            desactivado=(not estado.puede_editar)
            cuandoCarga=(action "cuando_termino_de_cargar_monaco_editor")
            onSave=(action "cuandoGuardaDesdeElEditor")
            onChange=(action "cuando_cambia_el_codigo")}}

      </div>

    </div>
  </section>

  <footer class="h2 tr bt b--light-silver"></footer>

</div>
