{{#each log.items as |item|}}
  <div class="f6 {{if (eq item.tipo 'error') 'red'}}">{{item.tipo}} - {{item.mensaje}}

      <div class="pl3 truncate w4">
        {{item.detalle}}
      </div>

  </div>
{{else}}

{{/each}}
