<div test-celda-imagen
  class="
    {{if debeMostrar "dib" "dn"}}
    w3
    verdana f6
    black
    unselectable
    v-top
    mv1
    texto
    hide-child" >
  <div class="flex flex-column h-100 w-100">

    {{yield}}

    <div
      {{action "cuando_selecciona_imagen" imagen}}
      class="flex pa2 h3 items-center justify-center w-100 hover-bg-black-10 pulsable bg-animate"
      role="button"
      >
      {{#if imagen.contenido}}
        <img src={{imagen.contenido}} alt="" class="object-fit-contain" width={{48}} height={{48}}>
      {{else}}
        <div class="sprite-grilla-de-imagenes {{imagen.sprite}}"></div>
      {{/if}}
    </div>

    <div class="child f7 tc mt2 h1 truncate">
      {{nombre-de-imagen imagen.nombre}}
    </div>

    <div class="tr dn">
      {{pilas-boton-copiar texto=(helper-imagen imagen.nombre) miniatura=true}}
    </div>

  </div>
</div>
