<div class="vh-100 wrapper verdana bg-white flex flex-column">

  <div class="h3">

    <div class="dt dt--fixed unselectable">

      <div class="dtc pa2">
        {{pilas-boton-regresar}}
        {{pilas-boton accion=(action cuandoIntentaGuardar proyecto) texto="Guardar"}}
      </div>

      <div class="dtc tr">
        <div class="dib mr2">
          {{pilas-boton-interruptor class="pointer" variable=ocultarPropiedades iconoActivo="p1_on" iconoInactivo="p1_off"}}
          {{pilas-boton-interruptor class="pointer" variable=ocultarEditor iconoActivo="p2_on" iconoInactivo="p2_off"}}
        </div>
      </div>
    </div>

  </div>

  <section class="flex1 flex bt b--silver">
    <div class="columns">

      <div class="w5 {{if ocultarPropiedades 'dn' 'flex flex-column'}} br b--light-silver pa2 ">


        <div class='truncate unselectable'>
          {{pilas-boton accion=(action "agregarEscena" proyecto) texto="+ Escena"}}
          {{pilas-boton accion=(action "agregarActor" proyecto) texto="+ Actor"}}
        </div>

        <ul class="verdana f6 unselectable pa0 flex1 overflow-y-scroll ba b--light-gray">
          {{#each proyecto.escenas as |escena|}}
            <li class="pointer truncate pa1 hover-bg-black-20 {{if (eq escenaActual escena.id) "bg-black-10"}}" {{action "definirEscena" escena.id}}>Escena: {{escena.nombre}} ({{escena.id}})</li>

              {{#if (eq escenaActual escena.id)}}
              <ul>
                {{#each escena.actores as |actor|}}
                  <li class="truncate pa1 pointer hover-bg-black-20 {{if (eq actorSeleccionado actor.id) "bg-black-10"}}" {{action "seleccionarActor" actor.id}}> {{actor.tipo}}: {{actor.nombre}} ({{round actor.x}}, {{round actor.y}})</li>
                {{else}}
                  <li class='truncate pa1'>sin actores</li >
                {{/each}}
              </ul>
              {{/if}}

          {{else}}
            <li>sin escenas</li>
          {{/each}}
        </ul>

      </div>
      <div class="flex flex1 flex-column w-30 bg-white ml2 mr2 pa2">



        <!-- Canvas -->


                <div class='mb2'>
                  {{#if estado.puedeEjecutar}}
                    {{pilas-boton accion=(action "ejecutar") texto="Ejecutar" icono="ejecutar"}}
                  {{/if}}

                  {{#if estado.puedeDetener}}
                    {{pilas-boton accion=(action "detener") texto="Detener" icono="detener"}}
                  {{/if}}

                  {{#if estado.puedePausar}}
                    {{pilas-boton accion=(action "pausar") texto="Pausar" icono="pausa"}}
                  {{/if}}

                  {{#if estado.pausaActivada}}
                    <div class="dib pa2 f6 fr">
                      <input class="v-btm" type="range"
                        min={{historiaMinimo}}
                        max={{historiaMaximo}}
                        oninput={{action "cambiarPosicion" value="target.value"}}
                        value={{historiaPosicion}}>
                    </div>

                  {{/if}}

                  {{#if estado.ModoCargando}}
                    {{pilas-skeleton ancho=80 alto=30}}
                  {{/if}}
                </div>

                {{pilas-phaser-experimental
                  ancho=proyecto.ancho
                  alto=proyecto.alto
                  mantenerFoco=estado.mantenerFoco
                  cuandoPulsaEscapeEnModoEjecucion=(action "detener")
                }}

                <div class="h2 pa2 bt bl br b--gray bg-light-gray">
                </div>

                <div class="h4 pa2 ba b--gray">
                  {{#each log.items as |item|}}
                    <div class="f6">{{item.tipo}} - {{item.mensaje}}

                        <div class="ba">
                          {{item.detalle}}
                        </div>

                    </div>
                  {{else}}
                  {{/each}}
                </div>

      </div>

      <div class="flex1 {{if ocultarEditor 'dn' 'flex flex-column'}} bl b--light-silver">
        <!-- EDITOR -->

            {{monaco-editor titulo=tituloDelCodigo code=codigo
              cuandoCarga=(action "cuandoCargaMonacoEditor")
              onSave=(action "cuandoGuardaDesdeElEditor")
              onChange=(action "cuandoCambiaElCodigo")}}

      </div>

    </div>
  </section>

  <footer class="h2 tr bt b--light-silver"></footer>


</div>
