{{yield}}

{{pilas-boton icono=icono svg=true desactivado=desactivado accion=(action "abrirModal") texto=(t "create.actor")}}


{{#pilas-modal alCerrar=(action "ocultar") visible=modalVisible id="dialogoCrearActor" titulo=(t "create.actor")}}
  <div>

    {{#if tarea.isRunning}}

      {{pilas-celda-de-actor-skeleton}}
      {{pilas-celda-de-actor-skeleton}}
      {{pilas-celda-de-actor-skeleton}}
      {{pilas-celda-de-actor-skeleton}}
      {{pilas-celda-de-actor-skeleton}}

    {{else}}

      {{pilas-grilla-de-actores
        actores=tarea.last.value.actores
        cuandoQuiereCrearActor=cuandoQuiereCrearActor
    }}

    {{/if}}

  </div>
{{/pilas-modal}}
