<p>Estado: {{estado.nombre}}</p>
<iframe class='bn' src="pilas-phaser-experimental.html" width=600 height=600></iframe>


<!--
{{dialogo-agregar-actor agregarUnActor=(action "agregarUnActor")}}

<div class='cf'>
  <div class="fl w-50 p1">
    {{#link-to "index"}}Volver{{/link-to}}
  </div>

  <div class="fl w-50 p1">
    <div class="a-derecha">
      <div class="ui small basic icon buttons">
        {{#boton-ocultar variable=ocultarPanelActores}}<div class="icono-panel-izquierdo"></div>{{/boton-ocultar}}
        {{#boton-ocultar variable=ocultarPanelEditor}}<div class="icono-panel-derecho"></div>{{/boton-ocultar}}
      </div>
    </div>
  </div>
</div>


<div class="pilas-phaser-experimental__contenedor">

{{#panel-ocultable variable=ocultarPanelActores class="ocultable-panel-izquierdo"}}
  {{yield}}

  <p>Estado: {{estado.nombre}}</p>

  {{pilas-lista-de-entidades entidades=entidades}}

  <pre class='json-entidades'>{{json entidades}}</pre>
{{/panel-ocultable}}


<div class="pilas-phaser-experimental__panel">

  {{#if estado.cargando}}
    <div class='pa1'>
      <button class="button-skeleton"></button>
      <button class="button-skeleton"></button>
      <button class="button-skeleton"></button>
    </div>

    <div class="pa1">
      <div class="canvas-skeleton"></div>
    </div>
  {{/if}}

  <div class="{{if estado.cargando 'oculto' ''}}">
    <div class='pa1'>

      {{#if estado.puedeEjecutar}}
        <button {{action "ejecutar"}} class='ui basic button'> Ejecutar</button>
      {{else}}
        <button {{action "detener"}} class='ui basic button'> Detener</button>
      {{/if}}


      {{#if estado.puedeEjecutar}}
        <button {{action "abrirDialogoParaAgregarUnActor"}} class='ui basic button'>Agregar un actor</button>
      {{/if}}

    </div>

    <div class="pa1">
      <iframe class='iframe-pilas' src="pilas-phaser-experimental.html" width=600 height=600></iframe>
    </div>
  </div>


</div>

{{#panel-ocultable variable=ocultarPanelEditor class='ocultable-panel-derecho'}}
  EDITOR
{{/panel-ocultable}}

</div>

-->
