{{#if visible}}

<div class="flex absolute absolute--fill" id={{id}}>

  <div {{action "ocultar"}} class="bg-black-50 z-1 absolute absolute--fill"></div>

  <div class="flex flex-column flex-auto ma5 bg-white z-2">

    <div class="flex">
      <h1 class="f4 pl3 flex1" id='titulo'>{{titulo}}</h1>

      <button class="pointer ma3 bn" {{action "ocultar"}} id='cerrar'>
        ×
      </button>
    </div>

    <div class="flex1 pa3 overflow-auto">
      {{yield}}
    </div>

  </div>

</div>

{{/if}}
