{{pilas-proyecto proyecto=proyecto}}

{{#if ocultar_interfaz}}
  <div class="flex flex-column {{if oscuro "theme-oscuro" "theme-claro"}} pa2 fixed top-0 left-0 right-0 bottom-0 bg-fondo z-9999">
    <div class="h1">&nbsp;</div>
    <div class="mt2">
      {{pilas-skeleton ancho=100 alto=40}}
    </div>
    <div class="flex1 bg-skeleton mt1">
    </div>
  </div>
{{/if}}

<div class="{{if oscuro "theme-oscuro" "theme-claro"}} bg-fondo vh-100 wrapper verdana flex flex-column">
  <div id="modal"></div>

  <div id="ember-basic-dropdown-wormhole" class={{if oscuro "theme-oscuro" "theme-claro"}}></div>

  {{pilas-editor-header
      hay_cambios_por_guardar=hay_cambios_por_guardar
      cargando=cargando
      proyecto=proyecto
      estado=estado
      mostrarModalDeAnimaciones=mostrarModalDeAnimaciones
      mostrarModalDeSonidos=mostrarModalDeSonidos
      pixelart=pixelart

      cuando_crea_un_proyecto=(action "cuando_crea_un_proyecto")
      cuando_abre=(action "cuando_abre")
      cuando_guarda=(action "cuando_guarda" proyecto)
      tamano=tamano
      modoVim=modoVim
      oscuro=oscuro
      permitir_modo_pausa=permitir_modo_pausa
  }}

  <section class="flex1 flex bt borde h-50">
    <div class="columns">

      {{pilas-editor-panel-de-propiedades
        mostrarPropiedades=mostrarPropiedades
        estado=estado
        proyecto=proyecto
        escenaActual=escenaActual
        seleccion=seleccion
        cuandoSelecciona=(action "cuandoSelecciona")
        cuando_intenta_eliminar=(action "cuando_intenta_eliminar")

        ultimaEscenaSeleccionada=ultimaEscenaSeleccionada
        instancia_seleccionada=instancia_seleccionada
        tipo_de_la_instancia_seleccionada=tipo_de_la_instancia_seleccionada

        cuando_intenta_duplicar=(action "cuando_intenta_duplicar")
        cuando_intenta_duplicar_x5=(action "cuando_intenta_duplicar_x5")
        cuando_intenta_mover_a_una_escena=(action "mover_actor_a_una_escena" proyecto)
        cuando_intenta_mover_a_escena_nueva=(action "mover_actor_a_escena_nueva" proyecto)

        actorSeleccionado=actorSeleccionado

        agregar_escena=(action "agregarEscena" proyecto)
        agregar_actor=(action "agregar_actor" proyecto)
        mostrarModalCreacionDeActor=mostrarModalCreacionDeActor

        cuando_cambia_un_nombre_de_actor=(action "cuando_cambia_un_nombre_de_actor")
        cuando_cambia_un_nombre_de_escena=(action "cuando_cambia_un_nombre_de_escena")
        cuandoModificaObjeto=(action "cuandoModificaObjeto")
        cuando_modifica_escena=(action "cuando_modifica_escena")
        cuando_modifica_proyecto=(action "cuando_modifica_proyecto")

      }}

      {{pilas-editor-panel-de-juego-con-canvas
        mostrarEditor=mostrarEditor
        estado=estado
        ejecutar=(action "ejecutar")
        grilla=grilla
        zoom=zoom
        modoZoom=modoZoom
        deshacer=(action "deshacer")
        detener=(action "detener")
        detener_y_volver_al_editor=(action "detener_y_volver_al_editor")
        existe_un_error_reciente=existe_un_error_reciente
        pausar=(action "pausar")
        posicion=posicion
        historiaPosicion=historiaPosicion
        nombre_del_contexto=nombre_del_contexto
        recursos=recursos
        pos=pos
        fps=fps
        minimapa=minimapa
        fisica=fisica
        oscuro=oscuro
        fisica_en_modo_ejecucion=fisica_en_modo_ejecucion
        pixelart=pixelart
        mostrarInterprete=mostrarInterprete
        log=log
        mostrar=mostrarInterprete
        proyecto=proyecto
        historiaMaximo=historiaMaximo
        historiaMinimo=historiaMinimo
        permitir_modo_pausa=permitir_modo_pausa
        cambiar_posicion=(action "cambiarPosicion")

        panelMaximizado=panelMaximizado
        maximizar=maximizarCanvas
      }}

      {{pilas-editor-panel-de-codigo
          mostrarEditor=mostrarEditor
          estado=estado

          instancia_seleccionada=instancia_seleccionada
          tipo_de_la_instancia_seleccionada=tipo_de_la_instancia_seleccionada

          titulo_del_codigo=tituloDelCodigo
          codigo=codigo
          oscuro=oscuro
          modoVim=modoVim
          tamano=tamano

          cuando_termino_de_cargar_monaco_editor=(action "cuando_termino_de_cargar_monaco_editor")
          cuandoGuardaDesdeElEditor=(action "cuandoGuardaDesdeElEditor")
          cuando_cambia_el_codigo=(action "cuando_cambia_el_codigo")

          panelMaximizado=panelMaximizado
          maximizar=maximizarEditor
      }}

    </div>
  </section>

</div>
