<button id='boton-eliminar-{{tipo}}' class='ba f7 fr bn o-50 pointer' {{action "mostrar"}}>×{{yield}}</button>

{{#pilas-modal alCerrar=(action "ocultar") visible=modalVisible id=idDialogo titulo=titulo}}


  {{pilas-boton accion=(action "ocultarEjecutandoAccion") texto="Si"}}
  {{pilas-boton accion=(action "ocultar") texto="No"}}

{{/pilas-modal}}
