{{#each log.items as |item|}}
  <div style={{estilo}} class="truncate f6 cf pa1 break-all {{if (eq item.tipo "error") "red" "texto"}}">

    {{#if (eq item.tipo "grupo")}}

      <div class="gray unselectable">{{pilas-icono icono="info"}}{{item.titulo}}</div>

      {{#each item.lineas as |linea|}}
        <div class="truncate pl3">
          {{linea}}
        </div>
      {{/each}}

    {{else}}

      {{#if (eq item.tipo "mensaje")}}
        <div class="w1 dib mr2"></div> {{item.mensaje}}
      {{else if (eq item.tipo "entrada")}}
        <div class="pl1 pr2 dib gray tr">›</div>{{item.mensaje}}
      {{else if (eq item.tipo "salida")}}
        <div class="pl1 pr2 dib gray tr">‹</div>{{item.mensaje}}
      {{else if (eq item.tipo "salida-especial")}}
        <div class="pl1 pr2 dib gray tr">‹</div><span class="i gray">{{item.mensaje}}</span>
      {{else if (eq item.tipo "mensaje-desde-el-editor")}}
        <div class="flex">
          <div class="pl1 pr2 dib gray tr">‹</div>
          <div class="i gray flex-auto truncate">{{item.mensaje}}</div>
          <div class="i gray pr2 o-50">{{item.tipo_de_dato}}</div>
        </div>
      {{else}}
        {{pilas-icono icono=item.tipo}} {{item.mensaje}}
      {{/if}}

      {{#if item.detalle}}
        <div class="dib pl3 truncate w4">
          {{item.detalle}}
        </div>
      {{/if}}

    {{/if}}

  </div>
{{/each}}

{{yield}}
