<div class="center mw7 mt4 pa2 unselectable">

  {{pilas-selector-de-idioma}}
  {{pilas-boton-login}}

  <div class="tc">
    {{pilas-logo}}
  </div>

  <div class="tc lato">
    <p>{{t "home.welcome"}}</p>
  </div>

  <div class="flex flex-column mt4">

    <div class="flex items-center justify-center">
      {{pilas-boton-principal
          icono="computadora"
          texto=(t "home.editor")
          ruta="iniciar-proyecto"
          id="abrir-editor"
        }}

      {{pilas-boton-principal
          icono="manual"
          texto=(t "home.manual")
          ruta="manual"
        }}
    </div>

    <div class="flex items-center justify-center">
      {{pilas-boton-principal
          icono="ejemplos"
          texto=(t "home.examples")
          ruta="ejemplos"
        }}

      {{pilas-boton-principal
          icono="info_squared"
          texto=(t "home.about")
          ruta="acercade"
        }}
    </div>

  </div>

  <div class="{{clase}} measure center verdana f7 tc lh-copy gray mt4 pa2">
    <span>{{t "home.tip.title"}}:</span> {{t "home.tip.text"}}
  </div>


  {{pilas-version}}

</div>
