{{yield}}

{{#if mensaje.link}}
  <div class="f6 pb1">{{mensaje.mensaje}}</div>
  <div class="f6 pb1">&nbsp; - &nbsp; {{#pilas-link class="link texto dim" url=mensaje.link}}{{mensaje.link}}{{/pilas-link}} {{pilas-boton-copiar texto=mensaje.link}}</div>
{{else}}
  <div class="f6 pb1">{{mensaje}}</div>
{{/if}}
