{{yield}}
<div class="flex vh-100">

  <div class="w5 pl2 pr3 flex flex-column">
    <div>
      {{pilas-boton-importar-sonido
          sonidos=sonidos
          cuando_procesa_archivos=(action "incorporar_sonidos_al_proyecto")
      }}
    </div>

    <div class="h1">
    </div>

    <div class="ba borde relative flex1 overflow-y-auto unselectable {{if iniciando "o-50 disabled" ""}}">

      {{#if iniciando}}
        <div class="absolute right-0 top-0 pa2">
          {{pilas-spinner}}
        </div>
      {{/if}}

      {{#each sonidos as |sonido|}}

        <div class="flex hide-child {{if (eq sonido.nombre sonido_seleccionado.nombre) "bg-black-20" "hover-bg-black-10"}}">
          <div class="pa2 f6 flex1 truncate pointer" role="button" {{action "reproducir" sonido}}>
            {{#if sonido.reproduciendo}}
              {{pilas-mini-icono icono="pausa"}}
            {{else}}
              {{pilas-mini-icono icono="play"}}
            {{/if}}
            {{sonido.nombre}}
          </div>
        </div>

      {{/each}}
    </div>

  </div>

  <div class="flex1 flex flex-column tc mw7">
    <div class="tl f6">

      <div class="lh-copy">
        Ayuda: para usar este sonido dentro del juego podes escribir el siguiente código:
      </div>

      <div class="flex items-center">
        <pre class="ba borde pa2 bg-fondo-secundario mr2 flex1">{{helper-sonido sonido_seleccionado.nombre}}</pre>
        {{pilas-boton-copiar texto=(helper-sonido sonido_seleccionado.nombre)}}
      </div>


      <div class="lh-copy">
        y si el sonido se trata de una música que se tiene que repetir varias veces usá
        estas sentencias de código para reproducila:
      </div>

      <div class="flex items-center">
        <pre class="ba borde pa2 bg-fondo-secundario mr2 flex1">{{helper-reproducir-musica sonido_seleccionado.nombre}}</pre>
        {{pilas-boton-copiar texto=(helper-reproducir-musica sonido_seleccionado.nombre)}}
      </div>

      <div class="lh-copy">
        y esta otra sentencia para detener la música:
      </div>

      <div class="flex items-center">
        <pre class="ba borde pa2 bg-fondo-secundario mr2 flex1">{{helper-detener-musica}}</pre>
        {{pilas-boton-copiar texto=(helper-detener-musica)}}
      </div>

      <div class="lh-copy">
        Ten en cuenta que los sonidos tienen que ocupar menos de 200kb, y estar en un formato
        de compresión .mp3 para optimizar el tamaño del proyecto.
      </div>

    </div>

    {{pilas-previsualizacion-de-sonido
      iniciando=iniciando
      sonido=sonido_seleccionado
      id=id
      proyectoDelUsuario=proyecto
      recursos=recursos
      cuando_termina_de_reproducir=(action "cuando_termina_de_reproducir")
    }}

  </div>
</div>
