{{yield}}

{{#en-electron}}
  <img alt="enjambre" id="enjambre" role="button" {{action "abrir"}} class="v-mid dim undraggable {{if animar "animacion-aparecer"}} pointer" src="{{rootURL}}{{imagen}}">
{{else}}
  <a href="http://enjambrebit.com.ar" role="button" rel="noopener" target="_blank"><img id="enjambre" class="v-mid dim {{if animar "animacion-aparecer"}} pointer" alt="" src="{{rootURL}}{{imagen}}"></a>
{{/en-electron}}
