<a role="button" {{action "ejecutar_accion"}} data-test={{dataTest}} class="{{class}} {{extraClass}} {{if truncate "truncate" ""}} {{if ejecutando "disabled o-50"}} {{if desactivado "disabled o-50"}}" id={{id}}>
  {{#if ejecutando}}
    {{pilas-spinner}}
  {{/if}}

  {{#if icono}}
    {{pilas-icono icono=icono}}
    {{#if responsive}}
      <span class="dn dib-l">{{texto}}</span>
    {{else}}
      <span>{{texto}}</span>
    {{/if}}
  {{else}}
    <span>{{texto}}</span>
  {{/if}}

  {{yield}}
</a>
