{{yield}}

{{pilas-boton accion=(action "abrirModal") texto="+ Actor"}}

{{#if modalVisible}}

<div class="flex absolute absolute--fill" id='dialogoCrearActor'>

  <div {{action "ocultar"}} class="bg-black-50 z-1 absolute absolute--fill">
  </div>

  <div class="flex flex-column flex-auto ma5 bg-white z-2">

    <div class="flex">
      <h1 class="f4 pl3 flex1" id='titulo'>Agregar un actor a la escena</h1>

      <div class="pointer ma3" {{action "ocultar"}}>
        ×
      </div>
    </div>




    <div class="flex1 pa3 overflow-auto">
      {{#if tarea.isRunning}}
        {{pilas-celda-de-actor-skeleton}}
        {{pilas-celda-de-actor-skeleton}}
        {{pilas-celda-de-actor-skeleton}}
        {{pilas-celda-de-actor-skeleton}}
        {{pilas-celda-de-actor-skeleton}}
      {{else}}

        {{pilas-grilla-de-actores
            actores=tarea.last.value.actores
            cuandoQuiereCrearActor=cuandoQuiereCrearActor
        }}

      {{/if}}

    </div>


  </div>

</div>

{{/if}}
