<div class="verdana pa2 f6 unselectable pa0 flex1 overflow-y-auto ba b--silver">
  {{#if instanciaActorSeleccionado}}
    <div class="pb1 truncate"><div class="dib w4">tipo</div> {{instanciaActorSeleccionado.tipo}}</div>
    <div class="pb1 truncate"><div class="dib w4">x</div> {{round instanciaActorSeleccionado.x}}</div>
    <div class="pb1 truncate"><div class="dib w4">y</div> {{round instanciaActorSeleccionado.y}}</div>
    <div class="pb1 truncate"><div class="dib w4">imagen</div> {{instanciaActorSeleccionado.imagen}}</div>
    <div class="pb1 truncate"><div class="dib w4">centro_x</div> {{instanciaActorSeleccionado.centro_x}}</div>
    <div class="pb1 truncate"><div class="dib w4">centro_y</div> {{instanciaActorSeleccionado.centro_y}}</div>
  {{else}}

  {{/if}}
</div>
