{{yield}}

{{pilas-paginador 
  soloMisJuegos=soloMisJuegos 
  tarea=proyectos 
  pagina=pagina 
  etiqueta=etiqueta
}}

<div class="relative">

  {{#if proyectos.lastSuccessful }}

    {{!-- hay dos casos a contemplar:

    1 - Si se pide ala lista directamente, la tarea retorna
    una lista de proyectos en value.

    Este es el caso más común, por ejemplo si se piden todos
    los proyectos o los proyectos con etiquetas.

    Estos son algunos ejemplos de endpoints que disparan el
    caso 1:

      - /explorar/?pagina=1
      - /explorar/?pagina=3
      - /explorar/?pagina=1&etiqueta=club-de-chicas-programadoras

    2 - El otro caso, aparece si se llama al endpoint con una
    bandera llamada `mostrar_recientes_agrupados`.

    En este caso, se retorna una lista con diccionarios que tienen
    el nombre del usuario y la lista de proyectos que subió con
    ese tag.

    Por ejemplo, el caso 2 se puede generar si la aplicación pide
    los datos al servidor así:

      - /explorar/?pagina=1&etiqueta=club-de-chicas-programadoras&mostrar_recientes_agrupados=true

    (tener en cuenta que cuando se pide agrupar los juegos
    por usuario también se tiene que usar el filtro de etiqueta. Además, el
    resultado llegará sin paginar en este caso)

    --}}

    {{! CASO 1: llegan los proyectos en una lista (ver descripción más arriba) }}
    {{#each proyectos.lastSuccessful.value.proyectos as |proyecto|}}

      {{pilas-item-de-proyecto-en-el-explorador proyecto=proyecto}}

    {{else}}

      {{! CASO 2: llegan los proyectos agrupados por usuario (ver descripción más arriba) }}
      {{#each proyectos.lastSuccessful.value.proyectos_agrupados as |proyecto_agrupado|}}
        <div class="pb3 tl">
          <div class="pv2">Perfil: {{proyecto_agrupado.perfil}}</div>
          <div>
            {{#each proyecto_agrupado.proyectos as |proyecto|}}
              {{pilas-item-de-proyecto-en-el-explorador proyecto=proyecto}}
            {{/each}}
          </div>
        </div>
      {{else}}
        <div class="gray pa4 tc">
          No hay proyectos para mostrar
        </div>
      {{/each}}

    {{/each}}



    {{#if proyectos.last.isRunning}}
      <div class="absolute absolute--fill bg-white-50 z--top flex items-center justify-center">
        {{pilas-spinner s=64}}
      </div>
    {{/if}}

  {{else}}

    {{#if proyectos.last.isRunning}}
      {{#each (range 0 10)}}
        <div class="dib v-top mb2 mr1">
          <div class="relative bg-light-gray" style="width: 180px; height: 140px;"></div>
          <div class="bg-gray pa1 white tc lato f7">
            &nbsp;
          </div>
        </div>
      {{/each}}
    {{else}}
      {{#if proyectos.last.isError}}
        <div class="red pa4">No se puede obtener la lista de proyectos. ¿Tienes acceso a internet?</div>
      {{/if}}
    {{/if}}

  {{/if}}

</div>
