<div class="verdana pa2 f6 unselectable pa0 flex1 overflow-y-auto ba b--silver {{if desactivado 'o-40 disabled'}}">

  {{#if instancia_seleccionada}}

    {{#if ha_seleccionado_un_actor}}


      <div class="pb1 truncate h2"><div class="dib w4">tipo</div> {{instancia_seleccionada.tipo}}</div>
      <div class="pb1 truncate h2"><div class="dib w4">imagen</div> {{instancia_seleccionada.imagen}}</div>

      {{#each propiedades_de_actores as |propiedad|}}

        {{#if (eq propiedad.tipo "numero")}}

          {{pilas-propiedad/numero objeto=instancia_seleccionada
              min=propiedad.min
              max=propiedad.max
              propiedad=propiedad intensidad=propiedad.intensidad modificarAtributo=(action "modificarAtributo")}}

        {{else if (eq propiedad.tipo "interruptor")}}

          {{pilas-propiedad/interruptor objeto=instancia_seleccionada
            propiedad=propiedad modificarAtributo=(action "modificarAtributo")
          }}

        {{else if (eq propiedad.tipo "combo")}}

          {{pilas-propiedad/combo objeto=instancia_seleccionada
              opciones=propiedad.opciones
              propiedad=propiedad
              modificarAtributo=(action "modificarAtributo")}}

        {{else if (eq propiedad.tipo "cadena")}}

          {{pilas-propiedad/cadena objeto=instancia_seleccionada
              propiedad=propiedad
              modificarAtributo=(action "modificarAtributo")}}

        {{else}}


          <p class="red">No hay manejador para {{propiedad.propiedad}}</p>

        {{/if}}

      {{/each}}

    {{else}}

      <div class="pb1 truncate h2"><div class="dib w4">nombre</div> {{instancia_seleccionada.nombre}}</div>

      {{#each propiedades_de_escenas as |propiedad|}}
        {{pilas-propiedad/numero objeto=instancia_seleccionada
            min=propiedad.min
            max=propiedad.max
            propiedad=propiedad intensidad=propiedad.intensidad modificarAtributo=(action "modifica_atributo_de_escena")}}
      {{/each}}


    {{/if}}

  {{/if}}



</div>
