{{yield}}

{{pilas-boton accion=(action "abrirModal") texto="+ Actor"}}

{{#if modalVisible}}

<div class="flex absolute absolute--fill" id='dialogoCrearActor'>

  <div {{action "ocultar"}} class="bg-black-50 z-1 absolute absolute--fill">
  </div>

  <div class="flex flex-column flex-auto ma5 bg-white z-2">

    <h1 class="f4 pl3" id='titulo'>Agregar un actor a la escena</h1>

    <div class="flex1 pa3">
      {{#if tarea.isRunning}}
        {{pilas-celda-de-actor-skeleton}}
        {{pilas-celda-de-actor-skeleton}}
        {{pilas-celda-de-actor-skeleton}}
        {{pilas-celda-de-actor-skeleton}}
        {{pilas-celda-de-actor-skeleton}}
      {{else}}

        {{pilas-grilla-de-actores
            actores=tarea.last.value.actores
            cuandoQuiereCrearActor=cuandoQuiereCrearActor
        }}

      {{/if}}

    </div>

    <div class="bg-white tr pa3 cf">
      <button class="fr" type="button" name="button">Agregar</button>
      <button class="fl" type="button" name="button">Cancelar</button>
    </div>

  </div>

</div>

{{/if}}
