{{pilas-proyecto proyecto=proyecto}}
<div class="{{if oscuro "theme-oscuro" "theme-claro"}} bg-fondo vh-100 wrapper verdana flex flex-column">
  <div id="modal"></div>

  <div id="ember-basic-dropdown-wormhole" class={{if oscuro "theme-oscuro" "theme-claro"}}></div>


  <div class="h2-5 flex">

    <div class="pa2 truncate">
      <input class="dn" type="file" id="input-abrir-archivo">

      {{pilas-boton-regresar confirmar=hay_cambios_por_guardar}}

      {{pilas-boton responsive=true icono="abrir" desactivado=cargando accion=(action "cuando_abre") demora=0 texto="Abrir"}}

      {{#en-electron}}
        {{pilas-boton responsive=true icono="guardar" desactivado=cargando accion=(action "cuando_guarda" proyecto) demora=0 texto="Guardar"}}
      {{else}}
        {{pilas-boton responsive=true icono="guardar" desactivado=cargando accion=(action "cuando_guarda" proyecto) demora=1 texto="Guardar"}}
      {{/en-electron}}

      {{pilas-boton-exportar responsive=true proyecto=proyecto desactivado=(not estado.puedeEjecutar)}}

      {{#en-electron}}
        {{pilas-boton-webserver cargando=cargando}}
      {{else}}
        {{#pilas-tooltip pos="left" texto="Esta opción solo está disponible en la versión de escritorio (offline)"}}
          {{pilas-boton responsive=true icono="webserver" desactivado=true texto="Iniciar servidor web"}}
        {{/pilas-tooltip}}
      {{/en-electron}}

      {{pilas-boton-animaciones
        desactivado=(not estado.puede_editar)
        pixelart=pixelart
        modalVisible=mostrarModalDeAnimaciones}}
    </div>

    <div class="flex1">
    </div>

    <div class="pa2">

      {{pilas-boton-configuracion
          desactivado=(not estado.puede_editar)
          tamano=tamano
          modoVim=modoVim
          oscuro=oscuro permitir_modo_pausa=permitir_modo_pausa
          pixelart=pixelart
        }}

    </div>

  </div>

  <section class="flex1 flex bt borde h-50">
    <div class="columns">

      <div class={{if mostrarPropiedades "dn" "flex flex-column w-panel-colapsado borde br pa2"}}>
        {{pilas-boton-para-colapsar-panel variable=mostrarPropiedades}}
        <div class="relative">
          <div class="absolute unselectable rotate-270 f7 texto pl2 texto-vertical-del-panel-de-escenas">
            ESCENAS Y ACTORES
          </div>
        </div>
      </div>

      <div class="ancho-panel-propiedades {{if mostrarPropiedades "flex flex-column" "dn"}} br borde pa2 ">

        <div class="texto pb2">
          {{pilas-boton-para-colapsar-panel variable=mostrarPropiedades}}

          <div class="f7 unselectable texto pl2 dib">
            ESCENAS Y ACTORES
          </div>
        </div>

        <div class="unselectable">
          {{pilas-boton icono="escena" desactivado=(not estado.puede_editar) accion=(action "agregarEscena" proyecto) texto="Crear Escena"}}
          {{pilas-crear-actor icono="actor" desactivado=(not estado.puede_editar) cuandoQuiereCrearActor=(action "agregar_actor" proyecto) modalVisible=mostrarModalCreacionDeActor}}
        </div>

        {{pilas-panel-de-escenas
            escenas=proyecto.escenas
            escenaActual=escenaActual

            seleccion=seleccion
            cuandoSelecciona=(action "cuandoSelecciona")
            cuando_intenta_eliminar=(action "cuando_intenta_eliminar")
            ultimaEscenaSeleccionada=ultimaEscenaSeleccionada
            desactivado=(not estado.puede_editar)

            cuando_intenta_duplicar=(action "cuando_intenta_duplicar")
            cuando_intenta_duplicar_x5=(action "cuando_intenta_duplicar_x5")
            cuando_intenta_mover_a_una_escena=(action "mover_actor_a_una_escena" proyecto)
            cuando_intenta_mover_a_escena_nueva=(action "mover_actor_a_escena_nueva" proyecto)

            actorSeleccionado=actorSeleccionado
          }}

        {{pilas-inspector
          instancia_seleccionada=instancia_seleccionada
          tipo_de_la_instancia_seleccionada=tipo_de_la_instancia_seleccionada

          cuando_cambia_un_nombre_de_actor=(action "cuando_cambia_un_nombre_de_actor")
          cuando_cambia_un_nombre_de_escena=(action "cuando_cambia_un_nombre_de_escena")
          cuandoModificaObjeto=(action "cuandoModificaObjeto")
          cuando_modifica_escena=(action "cuando_modifica_escena")
          cuando_modifica_proyecto=(action "cuando_modifica_proyecto")
          desactivado=(not estado.puede_editar)
        }}

      </div>

      <div id="panel-canvas" class="flex {{if (not mostrarEditor) "flex1" "w5"}} flex-column bg-fondo pa2 unselectable">

        <div class="texto separador-vertical">
        </div>

        <div class="mb2 flex" style="padding-bottom: 3px ">
          {{#if estado.puedeEjecutar}}
            {{pilas-boton id="ejecutar" accion=(action "ejecutar") texto="Ejecutar" icono="ejecutar"}}

            <div class="dib f6 flex1 tr"></div>

            {{pilas-selector-de-modo-zoom modoZoom=modoZoom}}



          {{/if}}

          {{#if estado.puedeDetener}}
            {{pilas-boton id="detener" accion=(action "detener") texto="Detener" icono="detener"}}
          {{/if}}

          {{#if permitir_modo_pausa}}
            {{#if estado.puedePausar}}
              {{pilas-boton id="pausar" extraClass="ml2" desactivado=existe_un_error_reciente accion=(action "pausar") texto="Pausar" icono="pausa"}}

              <div class="dib f6 flex1 tr"></div>

              {{pilas-selector-de-modo-zoom modoZoom=modoZoom}}
            {{/if}}

            {{#if estado.pausaActivada}}
              <div class="dib ma2 f6 fr flex1 flex">

                <div class="truncate texto w5 f7 unselectable tr pt1 pr1 dn">
                  Cuadro: {{plus posicion}} / {{tiempo (plus posicion)}}
                </div>

                <input class="v-btm w-100" type="range" id="posicion" min={{historiaMinimo}} max={{historiaMaximo}} oninput={{action "cambiarPosicion" value="target.value"}} value={{historiaPosicion}}>

              </div>

              {{pilas-selector-de-modo-zoom modoZoom=modoZoom}}
            {{/if}}
          {{/if}}

          {{#if estado.ModoCargando}}
            {{pilas-skeleton ancho=100 alto=40}}
            <div style="height: 30px; display: inline-block">
              &nbsp;
            </div>
          {{/if}}
        </div>

        {{#pilas-reiniciador}}
          {{pilas-canvas
                    nombre_del_contexto=nombre_del_contexto
                    ancho=proyecto.ancho
                    alto=proyecto.alto
                    recursos=recursos
                    mantenerFoco=estado.mantenerFoco
                    proyecto=proyecto
                    modoZoom=modoZoom
                    cuandoPulsaEscapeEnModoEjecucion=(action "detener")
                    pos=pos
                    fps=fps
                    fisica=fisica
                    pixelart=pixelart
                  }}
        {{/pilas-reiniciador}}

        <div class="h2 ba br borde mt2">
          {{pilas-interruptor texto="Intérprete" rojo=existe_un_error_reciente variable=mostrarInterprete}}

          <div class="fr {{if estado.puede_modificar_depurador "" "o-60 disabled"}}">

            {{#if (eq estado.nombreDeEstado "ModoEjecucion")}}
              {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Muestra las figuras físicas"}}
                {{pilas-interruptor deshabilitado=true texto="fisica" variable=false}}
              {{/pilas-tooltip}}

              {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Muestra el rendimiento en cuadros por segundo (FPS)"}}
                {{pilas-interruptor deshabilitado=true texto="fps" variable=false}}
              {{/pilas-tooltip}}

              {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Marca los puntos de control de cada actor"}}
                {{pilas-interruptor deshabilitado=true texto="pos" variable=false}}
              {{/pilas-tooltip}}
            {{else}}
              {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Muestra las figuras físicas"}}
                {{pilas-interruptor texto="fisica" variable=fisica}}
              {{/pilas-tooltip}}

              {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Muestra el rendimiento en cuadros por segundo (FPS)"}}
                {{pilas-interruptor deshabilitado=estado.pausaActivada texto="fps" variable=fps}}
              {{/pilas-tooltip}}

              {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Marca los puntos de control de cada actor"}}
                {{pilas-interruptor texto="pos" variable=pos}}
              {{/pilas-tooltip}}
            {{/if}}
          </div>

        </div>

        {{pilas-interprete
            nombre_del_contexto=nombre_del_contexto
            log=log
            mostrar=mostrarInterprete
            habilitado=estado.puede_usar_el_interprete}}

      </div>


      <div class="{{if mostrarEditor "dn" "flex flex-column w-panel-colapsado"}} bl borde pl2 pa2">
        {{pilas-boton-para-colapsar-panel variable=mostrarEditor}}
        <div class="relative">
          <div class="absolute unselectable rotate-270 f7 texto pl2 texto-vertical-del-panel-editor">
            EDITOR DE CÓDIGO
          </div>
        </div>
      </div>

      <div id="panel-editor" class="{{if mostrarEditor "" "flex1"}} {{if mostrarEditor "flex flex-column" "dn"}} bl borde pl2">

        <div class="texto pt2">
          {{pilas-boton-para-colapsar-panel variable=mostrarEditor}}
          <div class="f7 unselectable texto pl2 dib">
            EDITOR DE CÓDIGO
          </div>
        </div>

        <div class="unselectable pr2 pv2 flex bg-fondo">
          <div class="relative">
            {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Usar una receta de código"}}
              {{pilas-editor/boton-receta desactivado=(not estado.puede_editar) tipo_de_la_instancia_seleccionada=tipo_de_la_instancia_seleccionada}}
            {{/pilas-tooltip}}
          </div>

          <div class="flex1">
          </div>

          <div class="relative">
            {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Plegar código"}}
              {{pilas-boton id="plegar" extraClass="" desactivado=(not estado.puede_editar) accion=(action "plegar_codigo") texto="" icono="plegar"}}
            {{/pilas-tooltip}}

            {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Desplegar código"}}
              {{pilas-boton id="plegar" extraClass="" desactivado=(not estado.puede_editar) accion=(action "expandir_codigo") texto="" icono="desplegar"}}
            {{/pilas-tooltip}}

          </div>
        </div>

        {{monaco-editor
            titulo=tituloDelCodigo
            code=codigo
            oscuro=oscuro
            desactivado=(not estado.puede_editar)
            modoVim=modoVim
            tamano=tamano
            cuandoCarga=(action "cuando_termino_de_cargar_monaco_editor")
            onSave=(action "cuandoGuardaDesdeElEditor")
            onChange=(action "cuando_cambia_el_codigo")}}
      </div>

    </div>
  </section>

</div>
