{{yield}}
<p>Estado: {{estado.nombre}}</p>
<p>Mouse: ({{mouse_x}}, {{mouse_y}})</p>

<pre>{{json entidades}}</pre>

<div>
  <button {{action "ejecutar"}}>Ejecutar</button>
</div>

<iframe src="pilas-phaser-experimental.html" width=600 height=600></iframe>
