<div class="vh-100 wrapper verdana bg-white flex flex-column">

  <div class="h3">

    <div class="dt dt--fixed unselectable">

      <div class="dtc">
        {{pilas-boton-regresar}}
      </div>

      <div class="dtc tr">
        <div class="dib mr2">
          {{pilas-boton-interruptor class="pointer" variable=ocultarPropiedades iconoActivo="p1_on" iconoInactivo="p1_off"}}
          {{pilas-boton-interruptor class="pointer" variable=ocultarEditor iconoActivo="p2_on" iconoInactivo="p2_off"}}
        </div>
      </div>
    </div>

  </div>

  <section class="flex1 flex">
    <div class="columns">
      <div class="w5 {{if ocultarPropiedades 'dn'}} separadorr">

        <!-- Lista de entidades -->

        <p class="f6 verdana">Titulo: {{proyecto.titulo}}</p>

        <p class="f6 verdana">Cantidad de escenas: {{proyecto.escenas.length}}</p>

        <div class="tructate pb2">
          {{pilas-boton accion=(action cuandoIntentaGuardar proyecto) texto="Guardar"}}
        </div>

        <div class='truncate'>
          {{pilas-boton accion=(action "agregarEscena" proyecto) texto="+ Escena"}}
          {{pilas-boton accion=(action "agregarActor" proyecto) texto="+ Actor"}}
          {{pilas-boton accion=(action "moverActores" proyecto) texto="Mover"}}
        </div>

        <ul class="verdana f6 bg-black-10 unselectable pa0">
          {{#each proyecto.escenas as |escena|}}
            <li class="pointer truncate pa1 hover-bg-black-10 {{if (eq escenaActual escena.id) "red"}}" {{action "definirEscena" escena.id}}>Escena: {{escena.nombre}} ({{escena.id}}) {{#if (eq escenaActual escena.id)}}<span class='red'>SELECCIONADA!</span>{{/if}}</li>

              <ul>
                {{#each escena.actores as |actor|}}
                  <li class="truncate pa1 pointer {{if (eq actorSeleccionado actor.id) "red"}}" {{action "seleccionarActor" actor.id}} >Actor: {{actor.nombre}} (x: {{actor.x}}, y: {{actor.y}}, imagen: {{actor.imagen}})</li>
                {{else}}
                  <li class='truncate pa1'>sin actores</li >
                {{/each}}
              </ul>

          {{else}}
            <li>sin escenas</li>
          {{/each}}
        </ul>

      </div>

      <div class="flex1 bg-white ml2 mr2">
        <!-- Canvas -->


                <div class='mb2'>
                  {{#if estado.puedeEjecutar}}
                    {{pilas-boton accion=(action "ejecutar") texto="Ejecutar" icono="ejecutar"}}
                  {{/if}}

                  {{#if estado.puedeDetener}}
                    {{pilas-boton accion=(action "detener") texto="Detener" icono="detener"}}
                    {{pilas-boton accion=(action "pausar") texto="Pausar" icono="pausa"}}
                  {{/if}}

                  {{#if estado.pausaActivada}}
                    {{pilas-boton accion=(action "detener") texto="Terminar" icono="detener"}}

                    <div class="dib pa2 f6 fr">
                      <input class="v-btm" type="range"
                        min={{historiaMinimo}}
                        max={{historiaMaximo}}
                        oninput={{action "cambiarPosicion" value="target.value"}}
                        value={{historiaPosicion}}>
                    </div>

                  {{/if}}

                  {{#if estado.ModoCargando}}
                    {{pilas-skeleton ancho=80 alto=30}}
                  {{/if}}
                </div>

                {{pilas-phaser-experimental
                  ancho=proyecto.ancho
                  alto=proyecto.alto
                  mantenerFoco=estado.mantenerFoco
                }}

      </div>
      <div class="w5 {{if ocultarEditor 'dn'}} separadorl">
        <!-- EDITOR -->

        {{#if tituloDelCodigo}}
          <div class="verdana f6">Mostrando código de {{tituloDelCodigo}}:</div>

          {{#if estado.editorDeshabilitado}}
            <p>Deshailitado ...</p>
          {{else}}
          {{monaco-editor titulo=tituloDelCodigo code=codigo readOnly=estado.editorDeshabilitado
              cuandoCarga=(action "cuandoCargaMonacoEditor")
              onChange=(action "cuandoCambiaElCodigo")}}
          {{/if}}

        {{else}}
          <div class="tc verdana f6">
            Seleccioná un actor para editar su código.
          </div>
        {{/if}}

      </div>

    </div>
  </section>

  <footer class="h2 bg-red">Footer: Fixed height</footer>

</div>




<div class="flex flex-column vh-100">
  <div>
  </div>

  <div class="flex-expand">

    <div class="flex h-100">

      <div class="separadorr pa2 w-30 {{if ocultarPropiedades 'dn'}}">


      </div>

      <div class="w-40 pa2">
        <!-- EDITOR -->
      </div>



      <div class="separadorl pa1 w-30 {{if ocultarEditor 'dn'}}">


      </div>


    </div>


  </div>
</div>
