{{yield}}

{{pilas-boton icono=icono desactivado=desactivado accion=(action "abrirModal") texto="Crear actor"}}


{{#pilas-modal alCerrar=(action "ocultar") visible=modalVisible id="dialogoCrearActor" titulo="Agregar un actor a la escena"}}
  <div>

    {{#if tarea.isRunning}}

      {{pilas-celda-de-actor-skeleton}}
      {{pilas-celda-de-actor-skeleton}}
      {{pilas-celda-de-actor-skeleton}}
      {{pilas-celda-de-actor-skeleton}}
      {{pilas-celda-de-actor-skeleton}}

    {{else}}

      {{pilas-grilla-de-actores
        actores=tarea.last.value.actores
        cuandoQuiereCrearActor=cuandoQuiereCrearActor
    }}

    {{/if}}

  </div>
{{/pilas-modal}}
