<div class="{{if maximizar "dn"}} {{claseDelPanelColapsado}} bl borde pl2 pa2">
  {{pilas-boton-para-colapsar-panel dataTest="boton-abrir-panel-de-codigo" variable=mostrarEditor}}
  <div class="relative pointer" {{action "alternar" "mostrarEditor"}} role="button">
    <div class="absolute unselectable rotate-270 f7 texto pl2 texto-vertical-del-panel-editor ttu">
      {{t "code"}}
    </div>
  </div>
</div>

<div id="panel-editor" class="{{claseDelPanel}} bg-fondo {{if maximizar "panel-maximizado"}} bl borde pl2">

  <div class="texto flex">
    {{#if maximizar}}
      <div class="flex1"></div>
    {{else}}
      <div class="flex items-center">
        {{pilas-boton-para-colapsar-panel variable=mostrarEditor}}

        <div class="f7 unselectable texto pl2 dib ttu" {{action "alternar" "mostrarEditor"}} role="button">
          {{t "code"}}
        </div>
      </div>

      <div class="flex1"></div>

      {{#if tieneErrores}}
        <div class="flex items-end pv1">
          <div class="yellow w1 mr1">
            <svg fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <div class="f7 tr texto pv1">
            {{t "warning.code.errors"}}
          </div>
        </div>
      {{/if}}
    {{/if}}

    <div class="pt2 pr2">
      {{#if maximizar}}
        {{#pilas-boton-miniatura-pulsable accion=cuandoGuardaDesdeElEditor}}{{t "save.and.run"}} <span class="atajo">CTRL+S</span>{{/pilas-boton-miniatura-pulsable}}
      {{/if}}
    </div>

    <div class="pt2 pr2">
      {{pilas-boton-configuracion-del-editor modoVim=modoVim tamano=tamano}}
      {{pilas-boton-miniatura desactivado=(not estado.puede_editar) icono="maximizar" pulsado=maximizar alCambiarMaximizado=(action "alCambiarMaximizado")}}
    </div>

  </div>

  <div class="unselectable pr2 pb2 flex bg-fondo items-center">
    <div class="relative">
      {{pilas-editor/boton-receta 
          desactivado=(not estado.puede_editar) 
          tipo_de_la_instancia_seleccionada=tipo_de_la_instancia_seleccionada
      }}
    </div>

    <div class="flex1 flex justify-center">
      {{selector-de-codigo 
          desactivado=(not estado.puede_editar) 
          titulo_del_codigo=titulo_del_codigo 
          cuandoSelecciona=cuandoSelecciona
          proyecto=proyecto
          mostrarEditor=mostrarEditor
       }}
    </div>

  </div>

  {{monaco-editor
      titulo=titulo_del_codigo
      readOnly=(not estado.puede_editar)
      code=codigo
      oscuro=oscuro
      desactivado=(not estado.puede_editar)
      modoVim=modoVim
      tamano=tamano
      cuandoCarga=cuando_termino_de_cargar_monaco_editor
      onSave=cuandoGuardaDesdeElEditor
      onChange=cuando_cambia_el_codigo
      cuandoTerminaDeComprobarErrores=(action "actualizarEstadoDeErrores")
    }}
</div>
