<a {{action 'ejecutar_accion'}} class="{{class}} {{extraClass}} {{if truncate 'truncate' ''}} {{if ejecutando 'disabled o-50'}} {{if desactivado 'disabled o-50'}}" id={{id}}>
{{#if ejecutando}}{{pilas-spinner}}{{/if}}{{#if icono}}{{pilas-icono icono=icono}}{{/if}}{{texto}}{{yield}}
</a>
