<div class="nowrap">
  {{yield}}

  {{#pilas-tooltip pos=pos class="right-1 w4" texto="Cambia el tamaño a la escala real"}}
    <div class="button
        dib
        pa2
        verdana f7 link pointer
        black bg-animate b--black-20
        unselectable
        m0
        relative
        texto
        {{if modoZoomReal "" "o-50"}}
        "
        role="button"
        {{action "cambiarModo" 2}}
    >
      1:1
    </div>
  {{/pilas-tooltip}}


  {{#pilas-tooltip pos=pos class="right-1 w4" texto="Aplica zoom al visor para ocupar todo el espacio libre"}}
    <div class="button
        dib
        pa2
        verdana f7 link pointer
        black bg-animate b--black-20
        unselectable
        m0
        relative
        texto
        {{if modoZoomExpandido "" "o-50"}}
        "
        role="button"
        {{action "cambiarModo" 1}}
    >
      ↔
    </div>
  {{/pilas-tooltip}}
</div>
