<div id="panel-canvas" class="flex {{if (not mostrarEditor) "flex1" "w5"}} {{if maximizar "panel-maximizado"}} flex-column bg-fondo pa2 unselectable">

  <div class="separador-vertical flex">

    {{pilas-botones-para-deshacer-y-rehacer estado=estado deshacer=deshacer}}

    <div class="flex1">
    </div>

    <div class="texto tr">
      {{#if (eq panelMaximizado "canvas-desde-el-editor")}}
        {{#if estado.puedeDetener}}
          {{#pilas-boton-miniatura-pulsable accion=detener_y_volver_al_editor}}Detener y volver al editor <span class="atajo">ESC</span>{{/pilas-boton-miniatura-pulsable}}
        {{else}}
          {{#pilas-boton-miniatura-pulsable accion=detener_y_volver_al_editor}}Volver al editor <span class="atajo">ESC</span>{{/pilas-boton-miniatura-pulsable}}
        {{/if}}
      {{/if}}

      {{pilas-boton-configuracion-del-canvas oscuro=oscuro pixelart=pixelart permitir_modo_pausa=permitir_modo_pausa}}
      {{pilas-boton-miniatura icono="maximizar" pulsado=maximizar alCambiarMaximizado=(action "alCambiarMaximizado")}}

    </div>
  </div>

  <div class="mb2 flex" style="padding-bottom: 0px ">
    {{#if estado.puedeEjecutar}}
      {{pilas-boton id="ejecutar" accion=ejecutar texto="Ejecutar" icono="ejecutar"}}

      <div class="dib f6 flex1 tr"></div>

      <div class="pr2 pl2 pt1">
        {{pilas-selector-de-grilla grilla=grilla}}
      </div>

      <div class="pr2 pt1">
        {{pilas-selector-de-zoom zoom=zoom}}
      </div>

      {{pilas-selector-de-modo-zoom modoZoom=modoZoom}}

    {{/if}}

    {{#if estado.puedeDetener}}
      {{pilas-boton id="detener" accion=detener texto="Detener" icono="detener"}}
    {{/if}}

    {{#if permitir_modo_pausa}}
      {{#if estado.puedePausar}}
        {{pilas-boton id="pausar" extraClass="ml2" desactivado=existe_un_error_reciente accion=pausar texto="Pausar" icono="pausa"}}

        <div class="dib f6 flex1 tr"></div>

        {{pilas-selector-de-modo-zoom modoZoom=modoZoom}}
      {{/if}}

      {{#if estado.pausaActivada}}
        <div class="dib ma2 f6 fr flex1 flex">

          <div class="truncate texto w5 f7 unselectable tr pt1 pr1 dn">
            Cuadro: {{plus posicion}} / {{tiempo (plus posicion)}}
          </div>

          <input class="v-btm w-100 bg-fondo" type="range" id="posicion" min={{historiaMinimo}} max={{historiaMaximo}} oninput={{action (action cambiar_posicion) value="target.value"}} value={{historiaPosicion}}>

        </div>

        {{pilas-selector-de-modo-zoom modoZoom=modoZoom}}
      {{/if}}
    {{/if}}

    {{#if estado.ModoCargando}}
      {{pilas-skeleton ancho=100 alto=40}}
      <div style="height: 30px; display: inline-block">
        &nbsp;
      </div>
    {{/if}}
  </div>

  {{#pilas-reiniciador}}
    {{pilas-canvas
              nombre_del_contexto=nombre_del_contexto
              ancho=proyecto.ancho
              alto=proyecto.alto
              recursos=recursos
              mantenerFoco=estado.mantenerFoco
              proyecto=proyecto
              zoom=zoom
              grilla=grilla
              modoZoom=modoZoom
              cuandoPulsaEscapeEnModoEjecucion=detener
              pos=pos
              fps=fps
              minimapa=minimapa
              fisica=fisica
              fisica_en_modo_ejecucion=fisica_en_modo_ejecucion
              pixelart=pixelart
    }}
  {{/pilas-reiniciador}}

  <div class="h2 mt2">

    {{#pilas-boton-miniatura rojo=existe_un_error_reciente icono="interprete" pulsado=mostrarInterprete}}Intérprete{{/pilas-boton-miniatura}}

    <div class="fr">

      {{#if (eq estado.nombreDeEstado "ModoEjecucion")}}

        {{pilas-boton-miniatura icono="mundo" pulsado=fisica_en_modo_ejecucion}}

        {{pilas-boton-miniatura desactivado=true icono="fps" pulsado=false}}
        {{pilas-boton-miniatura desactivado=true icono="mapa" pulsado=false}}
        {{pilas-boton-miniatura desactivado=true icono="pos" pulsado=false}}

      {{else}}

        {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Muestra las figuras físicas"}}
          {{pilas-boton-miniatura icono="mundo" pulsado=fisica}}
        {{/pilas-tooltip}}

        {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Muestra el rendimiento en cuadros por segundo (FPS)"}}
          {{pilas-boton-miniatura desactivado=estado.pausaActivada icono="fps" pulsado=fps}}
        {{/pilas-tooltip}}

        {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Muestra el minimapa"}}
          {{pilas-boton-miniatura desactivado=estado.pausaActivada icono="mapa" pulsado=minimapa}}
        {{/pilas-tooltip}}

        {{#pilas-tooltip class="right-1 bottom-2 w4" texto="Marca los puntos de control de cada actor"}}
          {{pilas-boton-miniatura icono="pos" pulsado=pos}}
        {{/pilas-tooltip}}
      {{/if}}
    </div>

  </div>

  {{pilas-interprete
      nombre_del_contexto=nombre_del_contexto
      log=log
      mostrar=mostrarInterprete
      habilitado=estado.puede_usar_el_interprete}}

</div>
