{{yield}}

{{pilas-boton responsive=responsive ejecutando=tareaExportar.last.isRunning icono="exportar" desactivado=desactivado accion=(action "abrir_modal_par_exportar") texto="Exportar"}}

{{#pilas-modal medio=true alCerrar=(action "cerrar") puede_cerrar=puede_cerrar visible=mostrar_modal titulo="Exportar proyecto"}}

  {{#if (eq paso 1)}}
    <div class="flex1">
      <p>Existen dos formas de exportar tu proyecto en pilas</p>
      <p>¿Cuál te gustaría usar?</p>

      {{pilas-boton texto="Exportar como zip" accion=(action "exportar_zip")}}

      <div class="dib relative">
        {{pilas-boton texto="Exportar y publicar en la web" accion=(action "exportar_y_publicar")}}

        <div class="f6 tr verdana pt2">
          <div class="pv1">
            {{input type="checkbox" id="ver_codigo" checked=ver_codigo}}
            <label for="ver_codigo" class="unselectable pointer">
              Incluir código visible
            </label>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="flex1 ba borde bg-fondo-secundario overflow-y-scroll pa2 mb2" id="contenedor-con-scroll">

      {{#each mensajes as |mensaje|}}
        {{pilas-mensaje-exportador mensaje=mensaje}}
        {{pilas-scroll-to-bottom contenedor="contenedor-con-scroll"}}
      {{/each}}

      {{#if tareaExportar.last.isRunning}}
        <div class="f5">
          {{pilas-spinner}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  <div class="h2 mv2">
    {{#if mostrar_boton_para_cerrar}}
      {{pilas-boton texto="Cerrar" accion=(action "cerrar")}}

      <div class="pt2 mt1 pl3 dib">
        {{#pilas-link class="white link texto dib f7" url="https://app.pilas-engine.com.ar/manual/exportar_juegos.html"}}Ver documentación sobre cómo publicar juegos{{/pilas-link}}
      </div>
    {{else}}
      {{pilas-boton desactivado=true texto="Cerrar"}}
    {{/if}}
  </div>

{{/pilas-modal}}
