{{yield}}

<div class="texto pa2 {{claseEtiqueta}} tc data-etiqueta cursor-resize-on-hover bb-dashed-on-hover">
  {{identificador}}
</div>

<div class={{claseInput}}>
  {{input-numero
    min=min
    max=max
    valor=valor
    cuandoCambia=cuandoCambia
  }}
</div>
