{{yield}}
<canvas class="dn" id="canvas-boton-exportar"/>

{{pilas-boton responsive=responsive ejecutando=tareaExportar.last.isRunning 
        icono="exportar" svg=true desactivado=desactivado 
        accion=(action "abrir_modal_par_exportar") texto=(t "export.index")}}

{{#pilas-modal medio=true alCerrar=(action "cerrar") 
        puede_cerrar=puede_cerrar 
        visible=mostrar_modal titulo=(t "export.title")}}

  {{#if (eq paso 1)}}
    <div class="flex1">
      <p>{{t "export.choice.title"}}</p>
      <p>{{t "export.choice.question"}}</p>

      {{pilas-boton texto=(t "export.zip") accion=(action "exportar_zip")}}

      <div class="dib relative">
        {{pilas-boton texto=(t "export.web") accion=(action "exportar_y_publicar")}}
      </div>
    </div>
  {{else}}
    <div class="flex1 ba borde bg-fondo-secundario overflow-y-scroll pa2 mb2" id="contenedor-con-scroll">

      {{#each mensajes as |mensaje|}}
        {{pilas-mensaje-exportador mensaje=mensaje}}
        {{pilas-scroll-to-bottom contenedor="contenedor-con-scroll"}}
      {{/each}}

      {{#if tareaExportar.last.isRunning}}
        <div class="f5">
          {{pilas-spinner}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  <div class="h2 mv2">
    {{#if mostrar_boton_para_cerrar}}
      {{pilas-boton texto="Cerrar" accion=(action "cerrar")}}

      <div class="pt2 mt1 pl3 dib">
        {{#pilas-link class="white link texto dib f7" url="https://app.pilas-engine.com.ar/manual/exportar_juegos.html"}}
          {{t "export.manual"}}
        {{/pilas-link}}
      </div>
    {{else}}
      {{pilas-boton desactivado=true texto=(t "export.close")}}
    {{/if}}
  </div>

{{/pilas-modal}}
