{{yield}}

<div class="pb2 f6 {{if iniciando "o-50"}} cf">

  <div class="fr">

    {{#basic-dropdown as |dd|}}
      {{#dd.trigger}}
        {{pilas-boton icono="no" texto="Eliminar esta animación"}}
      {{/dd.trigger}}

      {{#dd.content class="slide-fade bg-fondo ba borde shadow-4 pa2"}}
        <div class="flex1 verdana f6 texto pa2">
          ¿Realmente quieres eliminar esta animación?
        </div>

        <div class="tc">
          {{pilas-boton icono="si" accion=(action cuando_quiere_eliminar_animacion animacion dd) texto="Sí" atajo="Enter"}}
          {{pilas-boton icono="no" accion=(action dd.actions.close) texto="No" atajo="Escape"}}
        </div>
      {{/dd.content}}
    {{/basic-dropdown}}

  </div>

  <div class="flex">

    <div class="flex items-center">
      <div class="texto pr2">Nombre:</div>
      {{pilas-nombre-de-animacion animación=animacion animaciones=animaciones iniciando=iniciando}}
    </div>

    <div class="flex pl4 items-center">
      <div class="texto pr2">Cuadros por segundo:</div>
      {{input class="w3 input v-top pa1 br2" disabled=iniciando value=animacion.velocidad type="number" min=1}}
    </div>

  </div>

</div>

<div class="pa2 unselectable ba borde overflow-x-scroll">

  {{#pilas-ordenable-horizontal iniciando=iniciando identificador="cuadros-de-animacion" cuando_cambia_orden=(action "cuando_cambia_orden")}}

    {{#if lista_visible}}
      {{#each animacion.cuadros as |cuadro index|}}
        {{! template-lint-disable }}
        <div class="bg-fondo v-top ba borde dib ma1 hide-child relative w3 h3 tc pointer" {{action "seleccionar_cuadro" index}} role="button" data-index={{index}}>

          <div class="absolute contenedor-boton-borrar-cuadro child">
            <button type="button" name="button" class="boton-borrar-cuadro bn bg-red white f7" {{action "eliminar_cuadro" cuadro}}>×</button>
          </div>

          <div class="absolute contenedor-boton-mover child z-99">
            {{#if tiene_mas_de_un_cuadro}}
              <div class="boton-mover bn bg-blue white f7 my-handle">⟷</div>
            {{/if}}
          </div>


          {{#if cuadro.contenido}}
            <img src={{cuadro.contenido}} alt="" class="object-fit-contain" width={{48}} height={{48}}>
          {{else}}
            <div class="sprite-grilla-de-imagenes {{cuadro.sprite}}"></div>
          {{/if}}


          <div class="ba b--white absolute bottom-0 left-0 right-0 {{if (eq index cuadro_actual) "bg-white" "o-0"}}">
          </div>

        </div>
      {{/each}}
    {{/if}}

    <div role="button" {{action "abrir_modal_para_agregar_imagen"}} class="dim v-top ba borde dib ma1 relative w3 h3 tc pt3 no-mover">
      <span class="v-mid">+</span>
    </div>

  {{/pilas-ordenable-horizontal}}

  {{#pilas-modal alCerrar=(action "ocultar") visible=mostrarModalDeImagenes titulo="Agregar imagen"}}
    <div>
      {{pilas-grilla-de-imagenes filtro=filtro cuando_selecciona=(action "cuando_selecciona_imagen_en_el_modal")}}
    </div>
  {{/pilas-modal}}

</div>

<div class="pv2 unselectable flex">
  <div class="">
    {{#if pausado}}
      {{pilas-boton desactivado=iniciando id="reproducir" accion=(action "resumir") texto="Reproducir" icono="ejecutar"}}
    {{else}}
      {{pilas-boton desactivado=iniciando id="pausar" accion=(action "pausar") texto="Pausar" icono="pausa"}}
    {{/if}}
  </div>

  <div class="flex1">
  </div>

  <div class="flex">
    <div class="pt1 f6">Aumento</div>
    {{pilas-zoom-de-canvas nombre_del_contexto=nombre_del_contexto}}
  </div>

</div>

{{#pilas-reiniciador}}
  {{pilas-canvas
      ancho=proyecto.ancho
      nombre_del_contexto=nombre_del_contexto
      alto=proyecto.alto
      recursos=recursos
      proyecto=proyecto
      modoZoom=1
      pixelart=pixelart
      cuando_termina_de_cargar=(action "cuando_termina_de_cargar")
      cuando_termina_de_iniciar_ejecucion=(action "cuando_termina_de_iniciar_ejecucion")
  }}
{{/pilas-reiniciador}}
