<div class="button
    dib pa2
    verdana f7 link pointer
    black bg-animate b--black-20
    unselectable
    m0
    {{if variable "bg-black-10"}}
    {{if rojo "white bg-red"}}
    "
  {{action "alternar"}}
>
  {{#if variable}}
    {{pilas-icono icono='on'}} {{texto}} {{yield}}
  {{else}}
    {{pilas-icono icono='off'}} {{texto}} {{yield}}
  {{/if}}
</div>
