<ul class="verdana f6 unselectable pa0 flex1 overflow-y-auto ba b--silver mt2 mb2 {{if desactivado "o-40 disabled"}}">

  <li role="button" class="pointer texto truncate pa1 {{if (eq seleccion 0) "bg-black-20" "hover-bg-black-10"}}" {{action cuandoSelecciona "proyecto"}}>
    ◆ proyecto
  </li>

  {{#each escenas as |escena|}}
    <li role="button" class="pointer texto truncate pa1 {{if (and (eq ultimaEscenaSeleccionada escena.id) (not-eq seleccion 0)) "bg-black-20" "hover-bg-black-10"}}" {{action cuandoSelecciona escena.id}}>

      {{#if (eq ultimaEscenaSeleccionada escena.id)}}
        ▾
      {{else}}
        ▸
      {{/if}}

      <span data-test="nombre-de-escena">{{escena.nombre}}</span>

      <div class="dib fr f7">
        {{#if (and (eq ultimaEscenaSeleccionada escena.id) (not-eq seleccion 0))}}
          {{pilas-boton-eliminar-con-confirmacion tipo="escena" titulo="¿Realmente quieres eliminar la escena?" accion=(action cuando_intenta_eliminar escena.id)}}
        {{/if}}
      </div>

    </li>

    {{#if (eq ultimaEscenaSeleccionada escena.id)}}
      <ul>
        {{#each escena.actores as |actor|}}
          <li role="button" class="truncate texto pa1 pointer {{if (eq seleccion actor.id) "bg-black-20" "hover-bg-black-10"}}" {{action cuandoSelecciona actor.id}}>
            {{pilas-icono-de-actor actor=actor}} {{actor.nombre}}

            <div class="dib fr f7">
              {{#if (eq seleccion actor.id)}}
                {{pilas-boton-duplicar-actor accion=(action cuando_intenta_duplicar actor.id) accionx5=(action cuando_intenta_duplicar_x5 actor.id)}}
                {{pilas-boton-eliminar-con-confirmacion tipo="actor" titulo="¿Realmente quieres eliminar este actor?" accion=(action cuando_intenta_eliminar actor.id)}}
              {{/if}}
            </div>

          </li>
        {{else}}
          <li class="truncate texto pa1">sin actores</li>
        {{/each}}
      </ul>
    {{/if}}

  {{else}}
    <div class="orange texto ph3 pt2">sin escenas</div>
  {{/each}}
</ul>
