<div>
  <div class="texto mt1 mb2 b">Principales:</div>
</div>

<div class="">
  {{pilas-propiedad/nombre-del-proyecto}}
</div>

<div class="pb1">
  {{pilas-propiedad/etiquetas
      valor=(get instancia_seleccionada "etiquetas")
      cuandoCambia=(action "cuando_cambia_etiquetas")
  }}
</div>

<div class="pb1">
  <div class="texto mt3 mb2 b">Pantalla:</div>
</div>

<div class="pb1">
  {{pilas-propiedad/combo
      objeto=instancia_seleccionada
      opciones=resoluciones
      titulo=(t "project.size")
      valor=(get instancia_seleccionada "tamaño")
      modificarAtributo=(action "cuando_cambia_resolucion")
  }}
</div>

<div class="pb1">
  {{pilas-propiedad/combo
      objeto=instancia_seleccionada
      opciones=opciones_de_rendimiento
      titulo=(t "project.performance")
      valor=(get instancia_seleccionada "fps")
      modificarAtributo=(action "cuando_cambia_rendimiento")
  }}
</div>

<div class="pb1">
  {{pilas-propiedad/combo
      objeto=instancia_seleccionada
      opciones=lista_de_escenas
      titulo=(t "project.main.scene")
      valor=(get instancia_seleccionada "nombre_de_la_escena_inicial")
      modificarAtributo=(action "cuando_cambia_escena_inicial")
  }}
</div>

<div class="pb1">
  {{pilas-propiedad/combo
      objeto=instancia_seleccionada
      opciones=lista_de_modos
      titulo=(t "project.video.mode")
      valor=(get instancia_seleccionada "modo_de_video")
      modificarAtributo=(action "cuando_cambia_el_modo_de_video")
  }}
</div>
