{{#each propiedades as |propiedad|}}

  <div class="pb1">

    {{#if (eq propiedad.tipo "numero")}}

      {{pilas-propiedad/numero
          objeto=instancia_seleccionada
          min=propiedad.min
          max=propiedad.max
          propiedad=propiedad
          intensidad=propiedad.intensidad
          modificarAtributo=cuando_modifica_atributo_del_proyecto
      }}

    {{else if (eq propiedad.tipo "separador")}}

      {{pilas-propiedad/separador
          propiedad=propiedad
      }}

    {{else if (eq propiedad.tipo "combo")}}

      {{pilas-propiedad/combo
          objeto=instancia_seleccionada
          opciones=propiedad.opciones
          propiedad=propiedad
          modificarAtributo=cuando_modifica_atributo_del_proyecto
      }}

    {{else}}

      <p class="red">No hay manejador para {{propiedad.propiedad}}</p>

    {{/if}}

  </div>

{{/each}}
