<div class="h2">

  <div class="dib w4">

    <div class="dib texto">
      {{etiqueta propiedad.propiedad}}
    </div>

  </div>

  {{#if editando}}
    <div class="dib w3">
      <input class="w104 v-top outline-0"
        value={{get objeto propiedad.propiedad}}
        oninput={{action "al_cambiar" value="target.value"}}
        onblur={{action "cuando_pierde_foco"}}
        onkeyup={{action "cuando_suelta_tecla"}}>
    </div>
  {{else}}
    <div class="dib texto w3 pointer truncate v-top" role="button" {{action "comenzar_a_editar"}}>
      {{get objeto propiedad.propiedad}}&nbsp;
    </div>
  {{/if}}

</div>
