<div class="flex">

  <div class="w-50">
    <div class="texto pv1 lh-title">
      {{etiqueta propiedad.propiedad}}
    </div>
  </div>

  <div class="w-50">
    <input class="input w-input-inspector v-top pa1 br2"
      value={{get objeto propiedad.propiedad}}
      oninput={{action "al_cambiar" value="target.value"}}
      onblur={{action "cuando_pierde_foco"}}
      onkeyup={{action "cuando_suelta_tecla"}}>
  </div>

</div>
