<div class="flex pv1">

  <div class="w-50">

    <div class="dib texto">
      {{etiqueta propiedad.propiedad}}
    </div>

  </div>

  <div class="w-50">

    <select class="w-100 select" onchange={{action "al_seleccionar" value="target.value"}}>
      {{#each opciones as |opcion|}}
        <option value={{opcion.valor}} selected={{eq (get objeto propiedad.propiedad) opcion.valor}}>{{opcion.texto}}</option>
      {{/each}}
    </select>

  </div>


</div>
