<div class="flex items-center">

  <div class="w-50">

    <div class="dib texto">
      {{#if titulo}}
        {{etiqueta titulo}}
      {{else}}
        {{etiqueta propiedad.propiedad}}
      {{/if}}
    </div>

  </div>

  <div class="w-50">

    <select class="w-100 select" onchange={{action "al_seleccionar" value="target.value"}}>
      {{#each opciones as |opcion|}}
        <option value={{opcion.valor}} selected={{eq valor_actual opcion.valor}}>{{opcion.texto}}</option>
      {{/each}}
    </select>

  </div>


</div>
