<div class="flex pv1">

  <div class="w-50">

    <div class="dib texto">
      {{t etiqueta}}
    </div>

  </div>

  <div class="dib texto w-50 v-top pointer flex" role="button" {{action "mostrar"}}>
    {{#pilas-tooltip class="right-1 bottom-2" texto=(get objeto propiedad.propiedad)}}
      <div class="">
        {{pilas-icono icono="imagen"}}
      </div>
    {{/pilas-tooltip}}

    <div class="truncate pl1" style="width: 95px;">
      {{nombre-de-imagen (get objeto propiedad.propiedad)}}
    </div>
  </div>

  {{#pilas-modal alCerrar=(action "ocultar") visible=mostrar id="dialogo_cambiar_imagen" titulo=(t "change.image")}}
    <div>
      {{pilas-grilla-de-imagenes filtro=filtroPropuesto cuando_selecciona=(action "cuando_selecciona_imagen")}}
    </div>
  {{/pilas-modal}}

</div>
