<div class="h2">

  <div class="dib w4">

    <div class="dib texto">
      {{etiqueta propiedad.propiedad}}
    </div>

  </div>

  <div class="dib texto w104 v-top pointer truncate" role="button" {{action "mostrar"}}>
    {{pilas-icono icono="imagen"}}
    {{get objeto propiedad.propiedad}}
  </div>

  {{#pilas-modal alCerrar=(action "ocultar") visible=mostrar id="dialogo_cambiar_imagen" titulo="Cambiar imagen"}}
    <div>
      {{pilas-grilla-de-imagenes cuando_selecciona=(action "cuando_selecciona_imagen")}}
    </div>
  {{/pilas-modal}}

</div>
