{{yield}}
<div class="pv1 flex texto relative">
  <div class="w-50">{{etiqueta "nombre"}}</div>

  {{#if es_actor}}
    <div role="button" class="w-50 pb2">
      {{pilas-boton-renombrar-actor nombre=nombre}}{{nombre}}
    </div>
  {{else}}
    <div class="w-50 pb2">{{nombre}}</div>
  {{/if}}

</div>
