{{#basic-dropdown onOpen=(action "cuando_abre") as |dd|}}
  {{#if desactivado}}
    {{pilas-boton id="receta" extraClass="" desactivado=desactivado texto=(t "recipes") responsive=true icono="receta" svg=true}}
  {{else}}
    {{#dd.trigger}}
      {{pilas-boton id="receta" extraClass="" desactivado=desactivado texto=(t "recipes") responsive=true icono="receta" svg=true}}
    {{/dd.trigger}}
  {{/if}}

  {{#dd.content class="slide-fade bg-fondo ba borde shadow-4 pa2 f7"}}

    <div class="ph1">
      {{input 
        spellcheck=false 
        autofocus=true 
        id="input-filtro-de-receta" 
        type="text" 
        value=filtro 
        class="input w-100 v-top pa1 br2 mb2 f6" 
        placeholder="Filtrar" 
      }}
    </div>

    <div class="h5 overflow-y-auto">
      {{#each recetas_filtradas_por_tipo as |receta|}}
        {{#if receta.componente}}
          {{component receta.componente receta=receta dd=dd usar_receta=(action "usar_receta")}}
        {{else}}
          <div role="button" class="pa2 unselectable texto pointer hover-bg-black-10 f6 truncate" {{action "usar_receta" receta dd}}>
            {{pilas-icono icono=receta.icono class="v-top"}} {{receta.titulo}}
          </div>
        {{/if}}
      {{else}}
        <div class="pa2 texto f6 truncate">
          {{t "no.recipes"}}
        </div>
      {{/each}}

      {{#if es_proyecto}}
        <div class="pa2 texto f6 truncate">
          {{t "select.recipe"}}
        </div>
      {{/if}}
    </div>

  {{/dd.content}}
{{/basic-dropdown}}
