<div class="theme-oscuro bg-fondo vh-100 wrapper verdana flex flex-column">

  <div class="h2-5 flex bb borde items-center">

    <div class="pa2 truncate">
      {{pilas-boton-regresar confirmar=false}}
    </div>

    <div class="texto flex-auto tc">
      {{t "iniciar.proyecto.title"}}
    </div>

    <div class="w2">
    </div>

  </div>


  <div class="pa3">
    <p class="texto">Plantillas más usadas</p>

    {{#iniciar-proyecto/item nombre="nuevo" titulo="Iniciar un proyecto desde cero"}}
      <div class="absolute f4 pv5 tc text-shadow-1 top-0 w-100 white">
        Nuevo
      </div>
    {{/iniciar-proyecto/item}}

    {{#if tieneProyectoAnterior}}
      {{#link-to "editor" (query-params tipo="continuar") id="anterior" tagName="div" class="dib w180 pointer"}}
        <div style="width: 180px; height: 140px;" class="overflow-hidden">
          <img src={{capturaDelProyectoAnterior}} alt="">
        </div>

        <div class="bg-black-80 pa1 white tc lato f7 bl bb br b--black-90 truncate">
          Seguir con mi proyecto anterior
        </div>
      {{/link-to}}
    {{/if}}

  </div>

  <div class="pa3">
    <p class="texto">Plantillas de juegos</p>

    {{iniciar-proyecto/item nombre="inicial" titulo="Iniciar con física básica"}}


    {{iniciar-proyecto/item nombre="plataformas-minimo" titulo="Plataformas mínimo con cámara"}}
    {{iniciar-proyecto/item nombre="plataformas-animado" titulo="Plataformas con animaciones"}}
    {{iniciar-proyecto/item nombre="nave-minimo" titulo="Nave con movimiento"}}
    {{iniciar-proyecto/item nombre="calle" titulo="Calle con desplazamiento vertical"}}

  </div>


</div>
