<div class="theme-oscuro bg-fondo vh-100 wrapper verdana flex flex-column">

  <div class="h2-5 flex bb borde items-center">

    <div class="pa2 truncate">
      {{pilas-boton-regresar confirmar=false}}
    </div>

    <div class="texto flex-auto tc">
      {{t "iniciar.proyecto.title"}}
    </div>

    <div class="w2">
    </div>

  </div>


  <div class="tc pt3">

    {{#if tieneProyectoAnterior}}
      {{#link-to "editor" (query-params tipo="continuar") id="anterior" tagName="div" class="dib w180 pointer"}}
        <div style="width: 180px; height: 140px;" class="overflow-hidden">
          <img src={{capturaDelProyectoAnterior}} alt="">
        </div>

        <div class="bg-black-80 pa1 white tc lato f7 bl bb br b--black-90 truncate">
          Seguir con mi proyecto anterior
        </div>
      {{/link-to}}
    {{/if}}

    {{iniciar-proyecto/item nombre="inicial" titulo="Iniciar con física básica"}}
    {{iniciar-proyecto/item nombre="nuevo" titulo="Iniciar un proyecto desde cero"}}
    {{iniciar-proyecto/item nombre="plataformas-minimo" titulo="Plataformas mínimo con cámara"}}
    {{iniciar-proyecto/item nombre="plataformas-animado" titulo="Plataformas con animaciones"}}
    {{iniciar-proyecto/item nombre="nave-minimo" titulo="Nave mínima con movimiento"}}

  </div>


</div>
