{{#each escena_como_nodos as |nodo|}}

  {{#if (eq nodo.tipo "carpeta")}}

    {{pilas-panel-de-escenas/item-carpeta
      actores=nodo.actores
      carpeta=nodo.carpeta
      escena=escena

      seleccion=seleccion
      escenas=escenas
      ultimaEscenaSeleccionada=ultimaEscenaSeleccionada
      cuandoSelecciona=cuandoSelecciona
    }}

  {{else if (eq nodo.tipo "actor")}}

    {{pilas-panel-de-escenas/item-actor
      actor=nodo.actor
      seleccion=seleccion
      escenas=escenas
      ultimaEscenaSeleccionada=ultimaEscenaSeleccionada
      cuandoSelecciona=cuandoSelecciona
    }}

  {{else}}
    <div class="ba b--red">Tipo de nodo desconocido: {{nodo.tipo}}</div>
  {{/if}}

{{else}}

  <div class="bg-black-20 br2 ma1 o-50 pa2 texto">
    Sin actores
  </div>

{{/each}}
