<div class="{{claseSeleccionado}} pa2 mr2 br2 flex">
  <div class="flex1 truncate" role="button" {{action "alternar"}}>

    <div class="colapsador">
      {{#if carpeta.abierta}}
        ▾
      {{else}}
        ▸
      {{/if}}
    </div>

    {{#if carpeta.abierta}}
      {{pilas-icono icono="carpeta-abierta"}}
    {{else}}
      {{pilas-icono icono="carpeta"}}
    {{/if}}

    {{carpeta.nombre}}

  </div>

  {{#if carpeta.abierta}}
    <div class="">
      {{pilas-boton-renombrar-carpeta carpeta=carpeta}}
      {{pilas-boton-eliminar-con-confirmacion contador=true tipo="carpeta" titulo="¿Quieres eliminar la carpeta?" accion=(action "eliminarCarpetaDelProyecto")}}
    </div>
  {{/if}}

</div>

{{#if carpeta.abierta}}
  <div class="ml4">
    {{#each actores as |actor|}}

      {{pilas-panel-de-escenas/item-actor
        actor=actor
        seleccion=seleccion
        escenas=escenas
        ultimaEscenaSeleccionada=ultimaEscenaSeleccionada
        cuandoSelecciona=cuandoSelecciona
      }}
    {{else}}
      <div class="bg-black-20 br2 mv1 mr2 o-50 pa2 texto">
        Sin actores
      </div>
    {{/each}}
  </div>
{{/if}}
