<li role="button"
    class="pointer texto truncate pa1 {{if (and (eq ultimaEscenaSeleccionada escena.id) (not-eq seleccion 0)) "bg-black-20" "hover-bg-black-10"}}"
    {{action cuandoSelecciona escena.id}}>

  <div class="colapsador">
    {{#if (eq ultimaEscenaSeleccionada escena.id)}}
      ▾
    {{else}}
      ▸
    {{/if}}
  </div>

  <span data-test="nombre-de-escena">{{escena.nombre}}</span>

  <div class="dib fr f7">
    {{#if (eq ultimaEscenaSeleccionada escena.id)}}
      {{pilas-boton-crear-carpeta escena=escena}}
    {{/if}}

    {{#if (and (eq ultimaEscenaSeleccionada escena.id) (not-eq seleccion 0))}}
      {{pilas-boton-eliminar-con-confirmacion contador=true tipo="escena"
      titulo="¿Quieres eliminar la escena?" accion=(action cuando_intenta_eliminar escena.id)}}
    {{/if}}
  </div>

</li>
