<div class="dib br-100 {{if actor.color actor.color "bg-silver"}} icono-item-de-actor"></div>

{{#if (eq actor.activo false)}}
  <span class="o-50">{{actor.nombre}}</span>
{{else}}
  {{actor.nombre}}
{{/if}}

<div class="dib fr f7">
  {{#if (eq seleccion actor.id)}}

    {{#if (eq actor.activo false)}}
      {{pilas-indicador-inactivo}}
    {{/if}}

    {{cuando_intenta_duplicar}}

    {{pilas-boton-menu-actor
        escenas=escenas
        actor_id=actor.id
        escena_id=ultimaEscenaSeleccionada
        accionDefinirColor=(action "cambiar_color" actor.id)
        accionClonar=(action "cuando_intenta_duplicar" actor.id)
        accionClonarX5=(action "cuando_intenta_duplicar_x5" actor.id)
        accionEliminar=(action "cuando_intenta_eliminar" actor.id)
        accionCuandoIntentaMoverAEscenaNueva=(action "cuando_intenta_mover_a_una_escena_nueva")
        accionCuandoIntentaMoverAUnaEscena=(action "cuando_intenta_mover_a_otra_escena")
      }}

  {{/if}}
</div>
