<div class="vh-100 w-100 dt">
  <div class="flex flex-column vh-100">

    <div class="bb b--black-10 pa2">
      {{pilas-boton-regresar}}
    </div>

    <div class="overflow-auto">
      <div class="center mw7 ph4 lato lh-copy pb6">

        <h2>¿Que es Pilas Engine?</h2>

        <p>Pilas es una herramienta para construir videojuegos de manera sencilla y divertida.</p>

        <p>
          Ideamos esta herramienta para que los jóvenes puedan descubrir y
          aprender a programar computadoras. Creemos que aprender a programar videojuegos
          es algo tan espectacular que todas las personas deberían tener la posibilidad
          de hacerlo. Programar te permite tomar el control de las
          computadoras para inventar, compartir y desarrollar cualquier tipo de software.
        </p>

        <p>Los íconos de la interfaz han sido creados {{#pilas-link url="https://icons8.com/ios-icons"}}por Icons8{{/pilas-link}}, mientras que los gráficos de juegos de incluidos han sido desarrollados por Walter Velazquez y el proyecto kenney.</p>

        {{#en-electron}}
          <p>Este proyecto utiliza electron, incluso desde aquí se puede <a href="" {{action "abrirInspector"}}>abrir las herramientas de desarrollo</a> para inspeccionar la aplicación.</p>
        {{/en-electron}}

        <p>Además, contamos con el patrocinio de {{pilas-enjambre-link}}, una empresa que hace posible que podamos seguir desarrollando y mejorando la herramienta día a día.</p>

        <p class="tc">
          {{pilas-enjambre-link incluirLogo=true}}
        </p>

        <p>
          Visitá el sitio {{#pilas-link url="http://pilas-engine.com.ar"}}pilas-engine.com.ar{{/pilas-link}}
          para conocer más sobre acerca de este proyecto, o escribinos directamente en
          en nuestro {{#pilas-link url="http://foro.pilas-engine.com.ar"}}foro de mensajes{{/pilas-link}}
          si te surge alguna duda.
        </p>

        <p class="tc gray pt3">
          © Hugo Ruscitti
        </p>

      </div>
    </div>

  </div>

  {{outlet}}

</div>
