<div class="vh-100 flex flex-column">

<div class="ma2">
  {{pilas-boton-regresar}}
</div>


<div class="flex flex1">

  <div class="flex1 overflow-auto">
    {{pilas-grilla-de-actores
        actores=actores.lista_de_actores
        actor_seleccionado=actor
        cuandoQuiereCrearActor=(action "al_seleccionar_un_actor")
    }}
  </div>

  <div class="flex flex-column flex1 lato">

    {{#if actor}}
      {{pilas-previsualizacion-de-actor actor=actor}}

      <div class='verdana pt1 pb2'>{{actor.nombre}} (del archivo {{actor.archivo}})</div>


      {{monaco-editor
        titulo=actor.archivo
        code=actor.codigo
        readOnly=true}}


    {{else}}
      <p class='lato'>Seleccioná un actor de la izquierda para
        verlo en detalle.</p>
    {{/if}}

    {{outlet}}
  </div>

</div>

</div>
