<div class="vh-100 w-100 dt">

{{outlet}}

<div class="flex flex-column vh-100">

  <div>
    <div class="dt dt--fixed unselectable">
      <div class="dtc">
        {{pilas-boton-regresar}}
      </div>

      <div class="dtc tr">
        <div class="dib mr2">
          {{pilas-boton-interruptor class="pointer" variable=ocultarPropiedades iconoActivo="p1_on" iconoInactivo="p1_off"}}
          {{pilas-boton-interruptor class="pointer" variable=ocultarEditor iconoActivo="p2_on" iconoInactivo="p2_off"}}
        </div>
      </div>
    </div>

  </div>

  <div class="flex-expand">

    <div class="flex h-100">

      <div class="br b--silver w-50 {{if ocultarPropiedades 'dn'}}">

        <p>Titulo: {{proyecto.titulo}}</p>

        <p>cantidad de escenas: {{proyecto.escenas.length}}</p>

        <ul class="verdana f6 bg-black-10">
          {{#each proyecto.escenas as |escena|}}
            <li>Escena: {{escena.nombre}} ({{escena.id}})</li>

              <ul>
                {{#each escena.actores as |actor|}}
                  <li>Actor: {{actor.nombre}} (x: {{actor.x}}, y: {{actor.y}})</li>
                {{else}}
                  <li>sin actores</li >
                {{/each}}
              </ul>

          {{else}}
            <li>sin escenas</li>
          {{/each}}
        </ul>

        <div>
          {{pilas-boton accion=(action "agregarEscena" proyecto) texto="Agregar escena"}}
          {{pilas-boton accion=(action "agregarActor" proyecto) texto="Agregar actor a la escena 1"}}
          {{pilas-boton accion=(action "serializar" proyecto) texto="Serializar"}}
          {{pilas-boton accion=(action "cambiarEscena" proyecto) texto="Cambiar el nombre de escena"}}
          {{pilas-boton accion=(action "moverActores" proyecto) texto="MoverActores a posiciones aleatorias en la escena 1"}}
        </div>

      </div>

      <div class="w-100 pa2 tc">
        canvas
      </div>


      <div class="pa1 w-100 {{if ocultarEditor 'dn'}}">
        <textarea class='pa2 w-100 h-100'>alert("hola!");</textarea>
      </div>


    </div>


  </div>
</div>
</div>
