{{outlet}}

{{pilas-boton-regresar}}

<p>Titulo: {{proyecto.titulo}}</p>

<p>cantidad de escenas: {{proyecto.escenas.length}}</p>

<ul class="verdana f6 bg-black-10">
  {{#each proyecto.escenas as |escena|}}
    <li>Escena: {{escena.nombre}} ({{escena.id}})</li>

      <ul>
        {{#each escena.actores as |actor|}}
          <li>Actor: {{actor.nombre}} (x: {{actor.x}}, y: {{actor.y}})</li>
        {{else}}
          <li>sin actores</li>
        {{/each}}
      </ul>

  {{else}}
    <li>sin escenas</li>
  {{/each}}
</ul>

{{pilas-boton accion=(action "agregarEscena" proyecto) texto="Agregar escena"}}
{{pilas-boton accion=(action "agregarActor" proyecto) texto="Agregar actor a la escena 1"}}
{{pilas-boton accion=(action "serializar" proyecto) texto="Serializar"}}
{{pilas-boton accion=(action "cambiarEscena" proyecto) texto="Cambiar el nombre de escena"}}
{{pilas-boton accion=(action "moverActores" proyecto) texto="MoverActores a posiciones aleatorias en la escena 1"}}
