<div class="theme-claro h-100 overflow-auto">

  {{outlet}}

  <div class="center mw7 mt4 pa2 unselectable">

    <div class="tc">
      {{pilas-logo}}
    </div>

    <div class="tc lato">
      <p>{{t "principal.bienvenida" htmlSafe=true}}</p>
    </div>


    <div class="flex flex-column mt4">

      <div class="flex items-center justify-center">
        {{pilas-boton-principal
            icono="computadora"
            texto=(t "principal.abrir_editor")
            ruta="editor"
            queryParams=(query-params ruta=null)
            id="abrir-editor"
          }}

        {{pilas-boton-principal
            icono="manual"
            texto=(t "principal.abrir_manual")
            ruta="manual"
          }}
      </div>

      <div class="flex items-center justify-center">
        {{pilas-boton-principal
            icono="ejemplos"
            texto=(t "principal.explorar_ejemplos")
            ruta="ejemplos"
          }}

        {{pilas-boton-principal
            icono="actores"
            texto=(t "principal.explorar_actores")
            ruta="actores"
            id="abrir-actores"
          }}

      </div>

      <div class="flex items-center justify-center">
        {{pilas-boton-principal
            icono="api"
            texto=(t "principal.manual_avanzado")
            ruta="api"
          }}

        {{pilas-boton-principal
            icono="info_squared"
            texto=(t "principal.acerca_de")
            ruta="acercade"
          }}

      </div>

    </div>

    {{pilas-version}}

    {{pilas-enjambre}}


  </div>
</div>
