{{outlet}}

<div class="contenedor-de-pagina-principal">

  <div class="ui text container">
    <div class="ui ">

      <div class="center">
        {{pilas-logo}}
      </div>

      <div class="center">
        <p>¡Hola!, te damos la bienvenida a <strong>Pilas Engine 2</strong></p>

        <p>&nbsp;</p>
      </div>

      <div class="ui equal width grid center">

        <div class="column text-align-right">
          <button class="ui basic button disabled">
            {{pilas-icono imagen="computadora"}}

            Abrir el intérprete</button>
        </div>

        <div class="column text-align-left">
          {{#link-to "manual" class="ui basic button"}}

            {{pilas-icono imagen="manual"}}
            Abrir el manual

          {{/link-to}}
        </div>

      </div>

      <div class="ui equal width grid center">

        <div class="column text-align-right">
          <button class="ui basic button disabled">
            {{pilas-icono imagen="ejemplos"}}

            Explorar ejemplos</button>
        </div>

        <div class="column text-align-left">
          {{#link-to "acercade" class="ui basic button"}}

            {{pilas-icono imagen="info_squared"}}
            Acerca de pilas

          {{/link-to}}
        </div>

      </div>

      <div class="ui equal width grid center">

        <div class="column text-align-right">

          {{#link-to "api" class="ui basic button"}}

            {{pilas-icono imagen="api"}}
            Manual avanzado

          {{/link-to}}
        </div>

          <div class="column text-align-left">

          {{#link-to "experimentos" class="ui basic button"}}

            {{pilas-icono imagen="test"}}
            Experimentos

          {{/link-to}}
        </div>

    </div>



    </div>
  </div>

</div>
