{{outlet}}

<div class="center mw7 mt4 pa2 usn">

      <div class="tc">
        {{pilas-logo}}
      </div>


      <div class="tc lato">
        <p>¡Hola!, te damos la bienvenida a <strong>Pilas Engine 2</strong> (experimental)</p>
      </div>


      <div class="flex flex-column mt4">

        <div class="flex items-center justify-center">
          {{pilas-boton-principal
            icono="computadora"
            texto="Abrir el editor"
            ruta="editor"
            id='abrir-editor'
          }}

          {{pilas-boton-principal
            icono="manual"
            texto="Abrir el manual"
            ruta="manual"
          }}
        </div>

        <div class="flex items-center justify-center">
          {{pilas-boton-principal
            icono="ejemplos"
            texto="Explorar ejemplos"
            ruta="ejemplos"
          }}

          {{pilas-boton-principal
            icono="info_squared"
            texto="Acerca de pilas"
            ruta="acercade"
          }}
        </div>

        <div class="flex items-center justify-center">
          {{pilas-boton-principal
            icono="api"
            texto="Manual avanzado"
            ruta="api"
          }}

          {{pilas-boton-principal
            icono="test"
            texto="Experimentos"
            ruta="experimentos"
          }}
        </div>

        <div class="flex items-center justify-center">
          {{pilas-boton-principal
            icono="demo"
            texto="Sección Demo"
            ruta="demo"
          }}

          {{pilas-boton-principal
            icono="arduino"
            texto="Pruebas Arduino"
            ruta="arduino"
          }}
        </div>

    </div>


      <div class="tc mt4 lato gray">
        versión {{app-version}}
      </div>

</div>
