<div class="h-100 overflow-auto">

{{outlet}}

<div class="center mw7 mt4 pa2 unselectable">

      <div class="tc">
        {{pilas-logo}}
      </div>

      <div class="tc lato">
        <p>¡Hola!, te damos la bienvenida a <strong>Pilas Engine 2</strong></p>
      </div>


      <div class="flex flex-column mt4">

        <div class="flex items-center justify-center">
          {{pilas-boton-principal
            icono="computadora"
            texto="Abrir el editor"
            ruta="editor"
            queryParams=(query-params ruta=null)
            id='abrir-editor'
          }}

          {{pilas-boton-principal
            icono="manual"
            texto="Abrir el manual"
            ruta="manual"
          }}
        </div>

        <div class="flex items-center justify-center">
          {{pilas-boton-principal
            icono="ejemplos"
            texto="Explorar ejemplos"
            ruta="ejemplos"
          }}

          {{pilas-boton-principal
            icono="actores"
            texto="Explorar actores"
            ruta="actores"
            id='abrir-actores'
          }}

        </div>

        <div class="flex items-center justify-center">
          {{pilas-boton-principal
            icono="api"
            texto="Manual avanzado"
            ruta="api"
          }}

          {{pilas-boton-principal
            icono="info_squared"
            texto="Acerca de pilas"
            ruta="acercade"
          }}

          <!--
          {{pilas-boton-principal
            icono="test"
            texto="Experimentos"
            ruta="experimentos"
          }}
        -->
        </div>


        <!--
        <div class="flex items-center justify-center">

          <div class="w-30 ma2 pa3">

          </div>

          {{pilas-boton-principal
            icono="arduino"
            texto="Pruebas Arduino"
            ruta="arduino"
          }}
        </div>
      -->

    </div>

    {{pilas-version}}

    {{pilas-enjambre}}


</div>
</div>
