{{outlet}}

<div class="center mw7 mt4 pa2">

      <div class="tc">
        {{pilas-logo}}
      </div>


      <div class="tc lato">
        <p>¡Hola!, te damos la bienvenida a <strong>Pilas Engine 2</strong> (experimental)</p>

        <p>&nbsp;</p>
      </div>


      <div class="flex flex-wrap center tc">

        {{pilas-boton-principal
          icono="computadora"
          texto="Abrir el editor"
          ruta="editor"
        }}

        {{pilas-boton-principal
          icono="manual"
          texto="Abrir el manual"
          ruta="manual"
        }}


        {{pilas-boton-principal
          icono="ejemplos"
          texto="Explorar ejemplos"
          ruta="ejemplos"
        }}

        {{pilas-boton-principal
          icono="info_squared"
          texto="Acerca de pilas"
          ruta="acercade"
        }}

        {{pilas-boton-principal
          icono="api"
          texto="Manual avanzado"
          ruta="api"
        }}

        {{pilas-boton-principal
          icono="test"
          texto="Experimentos"
          ruta="experimentos"
        }}

        {{pilas-boton-principal
          icono="demo"
          texto="Sección Demo"
          ruta="demo"
        }}

        {{pilas-boton-principal
          icono="arduino"
          texto="Pruebas Arduino"
          ruta="arduino"
        }}

    </div>


      <div class="tc mt4">
        versión {{app-version}}


        {{#en-electron}}
          <p>
            <a href="#" {{action "abrirInspector"}}>abrir inspector</a>
          </p>
        {{/en-electron}}

      </div>

</div>
