{{outlet}}

{{#if sin_cabecera}}

{{else}}
  {{pilas-header-exportacion model=model}}
{{/if}}

<div class="flex {{if sin_cabecera "vh-100" "vh-100-min-header"}}">
  {{pilas-ejemplo modoZoom=model.modoZoom proyecto=model.proyecto}}
</div>
